/*--------------------------------------------------------------
# Animation Setup
--------------------------------------------------------------*/

/*------- For animations --------*/
.animate {
	animation-fill-mode: both;
	animation-duration: 1s;
	transform: translate(0);
}

/*------- infinite animations --------*/
.infinite {
	animation-iteration-count: infinite;
}




/*--------------------------------------------------------------
# Scroll Animation with data-scrollanimation
--------------------------------------------------------------*/

/*------- when using data-scrollanimation with scrubbing, turn off transitions --------*/
#page [data-scrollscrub] {
	transition: none; //tween cannot work if there is transitions set
}

/*------- Special class for fixing at top. Used with scrollanimation --------*/
//just add data-scrollanimation="fixed-at-top" to an element to get this effect.
.fixed-at-top {
	position: fixed;
	top: 0;
}

/*------- Animate in a sequence --------*/
//simple add class sequence to your item and when it scrolls in it will scroll in the items inside in a sequence
@for $i from 0 through 30 {
	.active.sequence:nth-of-type(#{$i+1}) { //active makes sure the sequence only runs when it loads in but not out, so it resets fast
		transition-delay: #{$i/4}s;
	}
}



//some animations included
//Example: use data-scrollanimation="fadeInUp"
//When fading or moving something in, start with js so that without javascript the item wont start with opacity 0 or offscreen.
//use text UP or Down in class names when the item is meant to move up or down. This helps the scroll code no some extra info necessary
// //(if an item moves down or up it can mess up when the scroll animation should start cause it keeps moving)
/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

//start class
.js [data-scrollanimation*="fadeInUp"] {
	opacity: 0;
	transition: all .5s;
	transform: translate3d(0, 100%, 0);

	//end class
	&.fadeInUp {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.js [data-scrollanimation*="zoomIn"] {
	transition: all .5s;
	opacity: 0;
	transform: scale3d(0.3, 0.3, 0.3);

	&.zoomIn {
		transform: scale(1);
		opacity: 1;
	}
}

//ADD MORE ANIMATIONS HERE


@-webkit-keyframes fadeIn{
    from{ opacity:0; display: none; }
    to{ opacity:1;display: block; }
}
@keyframes fadeIn{
    from{ opacity:0; }
    to{ opacity:1; }
}

.fadeIn{
    -webkit-animation: fadeIn 0.3s ease-in;
    -moz-animation: fadeIn 0.3s ease-in;
    -o-animation: fadeIn 0.3s ease-in;
    animation: fadeIn 0.3s ease-in;
  }

@-webkit-keyframes introShadow{
    from{
        opacity:0;
        -webkit-transform:scale(.86);
        transform:scale(.86)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes introShadow{
    from{
        opacity:0;
        -webkit-transform:scale(.86);
        transform:scale(.86)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}




@-webkit-keyframes bdSlideDown{
    from{
        opacity:0;
        -webkit-transform:translateY(-1rem);
        transform:translateY(-1rem)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes bdSlideDown{
    from{
        opacity:0;
        -webkit-transform:translateY(-1rem);
        transform:translateY(-1rem)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}


@-webkit-keyframes bdSlowIn{
    from{
        opacity:0;
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes bdSlowIn{
    from{
        opacity:0;
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}

.bounceInUp{
  -webkit-animation:bounceInUp 1s;
    animation:bounceInUp 1s;
}

@keyframes bounceInUp{
    0%,60%,75%,90%,to{
        animation-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    0%{
        opacity:0;
        transform:translate3d(0,3000px,0)
    }
    60%{
        opacity:1;
        transform:translate3d(0,-20px,0)
    }
    75%{
        transform:translate3d(0,10px,0)
    }
    90%{
        transform:translate3d(0,-5px,0)
    }
    to{
        transform:translateZ(0)
    }
}


@keyframes heading-rotation-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -80px, 0);
    opacity: 0;
  }
}

@keyframes heading-rotation-last-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heading-static-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
