@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $spread $color #{$inset};
  -moz-box-shadow:$top $left $blur $spread $color #{$inset};
  box-shadow:$top $left $blur $spread $color #{$inset};
}


@mixin transform-transition($time) {
  -webkit-transition: -webkit-transform $time ease-in-out;
    -moz-transition: -moz-transform $time ease-in-out;
      -o-transition: -o-transform $time ease-in-out;
        -ms-transition: -ms-transform $time ease-in-out;
          transition: transform $time ease-in-out;
}

@mixin transform-translateX($translate) {
  -webkit-transform: translateX($translate);
    -moz-transform: translateX($translate);
      -o-transform: translateX($translate);
        -ms-transform: translateX($translate);
          transform: translateX($translate);
}
@mixin transform-translateY($translate) {
  -webkit-transform: translateY($translate);
    -moz-transform: translateY($translate);
      -o-transform: translateY($translate);
        -ms-transform: translateY($translate);
          transform: translateY($translate);
}
