
/**
 * Cart
 */
 table.cart {
	margin-bottom: ms(6);

	.product-quantity .plus,
	.product-quantity .minus {
		display: none;
	}

	.product-thumbnail {
		img {
			margin: 0 auto;
			max-width: ms(6);
			height: auto;
		}

		&::before {
			display: none;
		}
	}

	tr:first-child {
		td.product-remove {
			border-top-width: 0;
		}
	}

	td.product-remove {
		padding: 0;
		border-top: ms(3) solid;
		position: relative;

		a.remove {
			position: absolute;
			font-size: ms(2);
			top: - ms(-2);
			right: - ms(-2);
		}
	}

	td.product-quantity {
		.qty {
			padding: 0.326em;
			width: ms(6);
		}
	}

	td.product-name {
	//	@include wrap-break-word();
	}

	td,
	th {
		padding: ms(-1) ms(-1) 0;
	}

	td.product-subtotal {
		padding-bottom: ms(-1);
	}

	td.actions {
		border-top: 1em solid;
		background-color: transparent;
		padding: 0;

		label {
			display: none;
		}

		.coupon {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: 1px solid $color_border;
		}

		input {
			display: block;
			width: 100%;
			margin: ms(-3) 0;
		}
	}
}

.wc-proceed-to-checkout {
//	@include clearfix;
	margin-bottom: ms(3);

	.button {
		display: block;
		text-align: center;
		margin-bottom: 1em;

		&.checkout-button {
			font-size: ms(2);
		}
	}
}

.woocommerce-shipping-calculator {
	margin: 0;

	> p:first-child {
		margin: 0;
	}

	.shipping-calculator-form {
		padding-top: ms(2);
	}
}

ul#shipping_method {
	list-style: none;
	margin-left: 0;

	li {
		margin-bottom: ms(-6);

		&:last-child {
			margin-bottom: 0;
		}
	}

	input {
		margin-right: ms(-5);
	}
}

.woocommerce-checkout {
	ul#shipping_method {
		margin-bottom: 0;
	}
}