
/**
 * Checkout
 *
 * 1 - Required to make the blockUI overlay cover the entire page rather than just the checkout form. We do this because
 *     otherwise our sticky order review can break out of the checkout form (and the blockUI element).
 */
 .checkout_coupon {
	margin-bottom: ms(5);
}

form.checkout {
//	@include clearfix;
	position: static !important; /* 1 */

	> .blockUI {
		position: fixed !important; /* 1 */
	}
}

#payment {
//	@include clearfix;

	.create-account {
		clear: both;
	}

	.payment_methods {
		margin: 0 !important;
		padding: 0 !important;

		> .woocommerce-PaymentMethod,
		> .wc_payment_method {
			> label {
				display: block;
				padding: ms(2);
				cursor: pointer;
			}
		}

		li {
			list-style: none !important;
			margin-left: 0;
			position: relative;

			img {
				float: right;
				border: 0;
				padding: 0;
				max-height: ms(3);
			}

			&:last-child:not( .woocommerce-notice ) {
				padding-bottom: 0;
				border-bottom: 0;
			}

			p {
				margin: 0;
			}

			.payment_box {
				padding: ms(2);

				fieldset {
					border: 0;
					margin: 0;
					padding: 1em 0 0;
					font-size: ms(-1);

					label {
						width: auto;
						margin-left: 0;
					}

					.form-row {
						margin-bottom: 1em;

						input[type='checkbox'] {
							margin-right: 5px;
						}
					}

					#cvv {
						width: 22% !important;
					}

					.help {
						width: 75%;
						float: right;
					}
				}

				.woocommerce-SavedPaymentMethods {
					padding-top: 1em;
					margin: 0;

					li {
						margin-top: ms(-2);

						input[type=radio] {
							margin-right: 0.236em;
						}
					}
				}

				ul.wc-saved-payment-methods {
					margin-left: 0;
				}

				.wc-credit-card-form-card-number,
				.wc-credit-card-form-card-expiry,
				.wc-credit-card-form-card-cvc {
					font-size: ms(2);
				}

			/* 	.wc-credit-card-form-card-number {
					background-repeat: no-repeat;
					background-position: right ms(-2) center;
					background-size: 31px 20px;
					background-image: url('../../../assets/images/credit-cards/unknown.svg');

					&.visa {
						background-image: url('../../../assets/images/credit-cards/visa.svg');
					}

					&.mastercard {
						background-image: url('../../../assets/images/credit-cards/mastercard.svg');
					}

					&.laser {
						background-image: url('../../../assets/images/credit-cards/laser.svg');
					}

					&.dinersclub {
						background-image: url('../../../assets/images/credit-cards/diners.svg');
					}

					&.maestro {
						background-image: url('../../../assets/images/credit-cards/maestro.svg');
					}

					&.jcb {
						background-image: url('../../../assets/images/credit-cards/jcb.svg');
					}

					&.amex {
						background-image: url('../../../assets/images/credit-cards/amex.svg');
					}

					&.discover {
						background-image: url('../../../assets/images/credit-cards/discover.svg');
					}
				} */
			}
		}
	}

	.terms {
		width: 100%;
		clear: both;
		float: none;
		margin-bottom: 1em;

		label {
			display: block;
			cursor: pointer;
		}
	}

	.woocommerce-terms-and-conditions {
		padding: ms(1);
		box-shadow: inset 0 1px 3px rgba( #000, 0.2 );
		margin-bottom: 16px;
		background-color: rgba( #000, 0.05 );
	}

	.place-order {
		padding: ms(2);
		margin-bottom: 0;
		float: none;
		width: 100%;
		margin-top: ms(5);

		.button {
			font-size: ms(2);
			width: 100%;
			white-space: pre-wrap;
		}
	}
}

table.woocommerce-checkout-review-order-table {
	.product-name {
		width: 45%;
	//	@include wrap-break-word();
	}
}

.admin-bar {
	.woocommerce-checkout {
		#wc_checkout_add_ons label + br {
			display: none;
		}
	}
}
