/**
 * Handheld footer bar
 */
 .storefront-handheld-footer-bar {
	//@include clearfix;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid rgba( #fff, 0.2 );
	box-shadow: 0 0 6px rgba( #000, 0.7 );
	z-index: 9999;

	ul {
		margin: 0;

		li {
			display: inline-block;
			float: left;
			text-align: center;

			&:last-child {
				> a {
					border-right: 0;
				}
			}

			> a {
				height: ms(7);
				display: block;
				position: relative;
				text-indent: -9999px;
				z-index: 999;
				border-right: 1px solid rgba( #fff, 0.2 );
				overflow: hidden;

				// Raise it so focus outline is shown.
				&:focus {
					z-index: 1000;
				}
			}

			&.search {
				.site-search {
					position: absolute;
					bottom: -2em;
					left: 0;
					right: 0;
					transition: all, ease, 0.2s;
					padding: 1em;
					z-index: 1;
					display: block;
				}

				&.active {
					.site-search {
						bottom: 100%;
					}
				}

				.site-search,
				.widget,
				form {
					margin-bottom: 0;
				}
			}

			&.cart {
				.count {
					text-indent: 0;
					display: block;
					width: 2em;
					height: 2em;
					line-height: 2;
					box-sizing: content-box;
					font-size: 0.75em;
					position: absolute;
					top: ms(-1);
					left: 50%;
					border-radius: 100%;
					border: 1px solid;
				}
			}
		}

		&.columns-1 {
			li {
				width: 100%;
				display: block;
				float: none;
			}
		}

		&.columns-2 {
			li {
				width: 50%;
			}
		}

		&.columns-3 {
			li {
				width: 33.33333%;
			}
		}

		&.columns-4 {
			li {
				width: 25%;
			}
		}

		&.columns-5 {
			li {
				width: 20%;
			}
		}
	}
}

.sf-input-focused {
	.storefront-handheld-footer-bar {
		display: none;
	}
}