
/**
 * Shop tables
 */
 table.shop_table_responsive {
	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}

	tr {
		td {

			//@include clearfix;

			display: block;
			text-align: right;
			clear: both;

			&[data-title] {
				&::before {
					content: attr(data-title) ': ';
					font-weight: 600;
					float: left;
				}
			}

			&.product-remove {
				a {
					text-align: left;
				}
			}

			&.actions,
			&.download-actions {
				&::before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}

	&.my_account_orders {
		.order-actions {
			text-align: right;

			&::before {
				display: none;
			}
		}
	}
}
