
/**
 * Products
 */
 ul.products {
//	@include clearfix;
}

ul.products,
.wc-block-grid__products {
	margin-left: 0;
	margin-bottom: 0;
	clear: both;

	li.product,
	.wc-block-grid__product {
		list-style: none;
		margin-left: 0;
		margin-bottom: ms(7);
		text-align: center;
		position: relative;

		.star-rating {
			margin: 0 auto ms(-3);
		}

		.woocommerce-LoopProduct-link {
			display: block;
		}

		.price {
			display: block;
		//	color: $color_body;
			font-weight: 400;
			margin-bottom: 1rem;

			ins {
				margin-left: ms(-2);
				background-color: transparent;
			}
		}



		.star-rating {
			font-size: ms(-1);
		}

		img {
			display: block;
			margin: 0 auto ms(3);
		}

		&.product-category {
			img {
				margin-bottom: ms(3);
			}
		}

		.button {
			margin-bottom: 0.236em;
		}
	}
}

.hentry .entry-content {
	.wc-block-grid__products .wc-block-grid__product,
	ul.products li.product {
		> a {
			text-decoration: none;
		}
	}
}

.price {
	del {
		opacity: 0.5;
		font-weight: 400;

		& + ins {
			margin-left: 0.327em;
		}
	}
}