
/**
 * Single Product
 */
 .single-product {
	.pswp__button {
		background-color: transparent;
	}

	div.product {
	//	@include clearfix;
		position: relative;
		overflow: hidden;

		.images,
		.summary,
		.woocommerce-product-gallery {
			margin-bottom: ms(5);
			margin-top: 0;
		}

		.woocommerce-product-gallery {
			position: relative;

			.zoomImg {
				background-color: #fff;
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: ms(-1);
				right: ms(-1);
				display: block;
				height: 2em;
				width: 2em;
				border-radius: 3px;
				z-index: 99;
				text-align: center;
			}

			img {
				margin: 0;
			}

			.flex-viewport {
				margin-bottom: ms(3);
			}

			.flex-control-thumbs {
			//	@include clearfix;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					margin-bottom: ms(3);
					cursor: pointer;

					img {
						opacity: 0.5;
						transition: all, ease, 0.2s;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			&.woocommerce-product-gallery--columns-2 {
				.flex-control-thumbs {
					li {
				//		@include span( 2 of 4 );

						&:nth-child( 2n ) {
							margin-right: 0;
						}

						&:nth-child( 2n+1 ) {
							clear: both;
						}
					}
				}
			}

			&.woocommerce-product-gallery--columns-3 {
				.flex-control-thumbs {
					li {
					//	@include span( 1.333333333 of 4 );

						&:nth-child( 3n ) {
							margin-right: 0;
						}

						&:nth-child( 3n+1 ) {
							clear: both;
						}
					}
				}
			}

			&.woocommerce-product-gallery--columns-4 {
				.flex-control-thumbs {
					li {
					//	@include span( 1 of 4 );

						&:nth-child( 4n ) {
							margin-right: 0;
						}

						&:nth-child( 4n+1 ) {
							clear: both;
						}
					}
				}
			}

			&.woocommerce-product-gallery--columns-5 {
				.flex-control-thumbs {
					li {
				//		@include span( 0.8 of 4 );

						&:nth-child( 5n ) {
							margin-right: 0;
						}

						&:nth-child( 5n+1 ) {
							clear: both;
						}
					}
				}
			}
		}

		.images {
			.woocommerce-main-image {
				margin-bottom: ms(3);
				display: block;
			}

			.thumbnails {
				a.zoom {
					display: block;
					width: 22.05%;
					margin-right: 3.8%;
					float: left;
					margin-bottom: 1em;

					&.last {
						margin-right: 0;
					}

					&.first {
						clear: both;
					}
				}
			}
		}

		form.cart {
		//@warn/@warn	@include clearfix;
			margin-bottom: ms(3);
			padding: 1em 0;

			.quantity {
				float: left;
				margin-right: ms(-1);
			}

			table.woocommerce-grouped-product-list {
				.woocommerce-grouped-product-list-item__label {
				//	@include wrap-break-word();
				}

				.woocommerce-grouped-product-list-item__quantity {
					float: none;
					margin-right: 0;

					.quantity {
						margin-right: 0;
					}
				}
			}
		}

		p.price {
			font-size: ms(2);
			margin: ms(2) 0;
		}

		table.variations {
			table-layout: fixed;
			margin: 0;

			th,
			td {
				display: list-item;
				padding: 0;
				list-style: none;
				background-color: transparent;
			}

			.value {
				margin-bottom: 1em;
			}

			select {
				max-width: 70%;
				vertical-align: middle;
			}
		}

		.single_variation {
			.price {
				margin-bottom: 1em;
				display: block;
			}
		}

		.variations_button {
		//	@include clearfix;
			padding-top: 1em;
		}

		.woocommerce-product-rating {
			margin-bottom: ms(3);
			//@include clearfix;
			margin-top: - ms(-1);

			a {
			//	@include underlined-link();
			}

			.star-rating {
				float: left;
				margin-right: ms(-2);
			}
		}

		.product_meta {
			font-size: ms(-1);
			padding-top: 1em;
			border-top: 1px solid $color_border;

			.sku_wrapper,
			.posted_in,
			.tagged_as {
				display: block;

				&:last-child {
					border-bottom: 0;
				}
			}

			a {
			//	@include underlined-link();
			}
		}

		.edit-link {
			font-size: ms(-1);
			margin-top: 1em;
		}
	}
}

.stock {
	&:empty::before {
		display: none;
	}

	&.in-stock {
		color: $success;
	}

	&.out-of-stock {
		color: $error;
	}
}

a.reset_variations {
	display: inline-block;
	margin-left: 1em;
}