body {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	background: #f6f7fa;
	background-image: linear-gradient(to top, rgba(246,247,250,0), #f6f7fa);
    background-size: 100vh;
}

.right-sidebar .content-area.archiv {
	width: 75% !important;
	float: left;
	margin-left: 0;

	margin-right: 0 !important;
	padding: 20px;

	.site-main {
		padding: 1px 20px;
		box-shadow: 3px -12px 50px 0 rgba(34, 34, 34, 0.2);
		margin: 30px 0px;
		border-top-right-radius: 9px;
	}
}

.content-area,
.widget-area {
	margin-bottom: 2.617924em;
}

.page-template-template-fullwidth-php .content-area,
.page-template-template-homepage-php .content-area,
.single .content-area,
.product-template-default .content-area {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0;
}

.wc-block-grid__product {
	padding: 0;
	float: none;
	width: auto;
	position: relative;
	text-align: center;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

body #content .small-business-info {
	display: none;
}
.amount {
	width: 100%;
	text-align: left;
	display: block;
	font-size: 0.8rem;
	padding: 5px 40px;
}

.price {
	width: 100%;
}


.notification {
	/* background-color: #f6fbff; */
	border-radius: 3px;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
	position: relative;
	/* z-index: 11111; */
	padding: 20px;
	// box-shadow: 3px -12px 50px 0 rgba(34, 34, 34, 0.2);
}
.single-product div.product {
	position: relative;
	overflow: hidden;
	//  box-shadow: 3px -12px 50px 0 rgba(34, 34, 34, 0.2);
	width: 100%;
	//   box-shadow: 3px -12px 50px 0 rgba(34, 34, 34, 0.2);
	padding: 40px 20px;
}
aside.sidebar {
	width: 25%;
	float: right;
	margin-top: 50px;

	ul {
		padding-left: 0;
		margin-left: 10px;
	}
}

.woocommerce-error {
	background-color: #5860d6;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
	margin-bottom: 2.617924em;
	background-color: #00d0be;
	border-left: 0.6180469716em solid #5860d6;
}

.wc-block-grid {
	text-align: center;
	margin: 40px 0;
}
.wc-block-grid__products .wc-block-grid__product .woocommerce-LoopProduct-link,
.wc-block-grid__products li.product .woocommerce-LoopProduct-link,
ul.products .wc-block-grid__product .woocommerce-LoopProduct-link,
ul.products li.product .woocommerce-LoopProduct-link {
	display: block;
	height: 250px;
	img {
		object-fit: contain;
		height: 100%;
		width: 100%;
		height: 200px;
		background-color: white;
	}
}
.input-text,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
	padding: 0.6180469716em;
	color: #43454b;
	border: 0;
	-webkit-appearance: none;
	box-sizing: border-box;
	font-weight: 400;
	box-shadow: inset 0 0px 0px rgb(255, 255, 255);
	background: #eeeeee;
	line-height: 30px;
	text-align: center;
}
