.product,
.card {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	color: #626567;
	padding-bottom: 50px;
	border: none;
	box-shadow: none;
	background: none;
	/* 	a.woocommerce-LoopProduct-link,
	a.wc-block-grid__product-link,
	a{
		text-decoration: none;
		display: block;
		position: relative;
		height: 250px;
	} */
	.wp-block-button.wc-block-grid__product-add-to-cart {
		text-align: right;
		width: 100%;
	}
	a.wc-block-grid__product-link {
		text-decoration: none;
		display: block;
		position: relative;
		height: 200px;
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: #edededa6;
		color: #626567;
		max-width: 100%;
		position: relative;
		border-radius: 6px;
		border: solid 0px rgba(189, 195, 199, 0.6);
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 20px 50px 0 #1e1e1e33;
	}
	a.woocommerce-LoopProduct-link,
	a .card-image {
		text-decoration: none;
		display: block;
		position: relative;
		height: 200px;
		img {
			background-color: white;
			-o-object-fit: contain;
			object-fit: contain;
			height: 200px;
				width: 100%;
			max-height: 220px;
			margin: 0;
		}
	}
	.card-content {
		padding: 0 1.5rem;
		.amount{
			font-weight: bolder;
			padding: 5px 0px;
		}
	}
	.woocommerce-loop-product__title,
	.wc-block-grid__product-title {
		padding: 1.5rem 0 0.5px;
		display: block;
		text-align: left;
		font-weight: 400;
		color: #121212;
		font-family: "TTNorms";
		padding: 30px;
		text-decoration: none !important;
		height: 100px;
		border: none;
		font-size: 15px;
		max-width: 100%;
		word-break: break-word;
		position: relative;
		display: block;
	}
	.card-footer {
		border-top: 0px solid #dbdbdb;
		display: flex;
		align-self: flex-end;
		width: 100%;
		align-content: end;
		align-items: baseline;
		bottom: 0;
		position: absolute;
		height: 50px;
	}
}

li.product {
	display: flex;
	flex-direction: column;
	height: 100%;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	color: #626567;
	padding-bottom: 50px;
	border: none;
	box-shadow: none;
}

body.shore_commerce ul.products li.product a.woocommerce-LoopProduct-link,
body.shore_commerce ul.products li.product a .card-image,
body.shore_commerce .card a.woocommerce-LoopProduct-link,
body.shore_commerce .card a .card-image {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	background-color: #edededa6;
	color: #626567;
	max-width: 100%;
	position: relative;
	border-radius: 6px;
	border: solid 1px rgba(189, 195, 199, 0.6);
	padding-bottom:  0px;
	margin-bottom: 20px;
	border-radius: 6px;
    box-shadow: -3px 2px 50px 0 #b6b6b6;
}

.related li.product:nth-child(2) {
	//margin: 20px auto;
}

body.shore_commerce ul.products li.product a.wc-block-grid__product-link,
body.shore_commerce .card a.wc-block-grid__product-link,
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
	text-decoration: none;
	display: block;
	position: relative;
	height: 200px;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #edededa6;
	color: #626567;
	max-width: 100%;
	position: relative;
	border-radius: 6px;
	border: solid 1px rgba(189, 195, 199, 0.6);
	padding-bottom:  0px;
	margin-bottom: 20px;
	border-radius: 6px;
    box-shadow: -3px 2px 50px 0 #b6b6b6;
}

.product p.wc-gzd-additional-info {
  //  padding: 2.5rem 0 0rem;
    font-size: .9em;
    clear: left;
}

ul.products li.product .price {
    display: block;
    color: #43454b;
    font-weight: 400;
    margin: 1rem;
    background: #5862d6;
    width: auto;
    float: left;
    color: white;
    border-radius: 6px;
}


.wp-block-button.wc-block-grid__product-add-to-cart {
    text-align: right;
    width: 100%;
}