#content .woocommerce-error {
    list-style: disc outside;
    margin-left: 0em;
    margin-top: 2em;
    background: #5860d6;
    border-left: .6180469716em solid #00d0be;
}


#content .woocommerce-message {
    list-style: disc outside;
    margin-left: 0em;
    margin-top: 2em;
    background:  #00d0be !important;
    border-left: .6180469716em solid #5860d6;
}