.footer {
  font-size: 0.875rem;
  padding-bottom: 1rem;
  border-top: 1px solid $grey-lighter;
  float: left;
  width: 100%;
  background-image: url(https://staging-www.shore.com/assets/images/home/bg_icon_pattern_2x.png);
  background-size: cover;
  background-position: top center;
  min-height: 30vh;
  position: relative;
  margin-top: 160px;

  .navbar#footer-navigation {
    
    width: 100%;
    float: left;
    padding: 0px ;
    height: 30vh;
    margin-top: 5px;
    position: relative;
    bottom: 150px;

    .col-full {
      height: 35vh;
      position: relative;
      display: block;
      box-shadow: 0px -13px 50px 0 #22222233;
    }
  }
  h5 {
    font-size: 0.75rem;
    font-weight: $weight-bold;
    margin-bottom: 0.75rem;
  }

  a {
    color: $grey;
    font-size: 0.875rem;

    &:hover {
      color: $primary;
    }
  }

  .tag {
    height: auto;
    padding: 0 0.25rem;
    margin-left: 0.25rem;
    text-transform: uppercase;

    &.is-purple {
      background: $purple;
    }
  }

  .footer-nav-list {
    li {
      margin-bottom: 0.5rem;
    }

    .divider {
      border-bottom: 1px solid $grey-lighter;
      margin: 1rem 0;
      margin-right: 4rem;

      @include touch {
        display: none;
      }
    }
  }

  .products {
    padding-bottom: 6.5rem;

    @include touch {
      padding-bottom: 6rem;
    }

    @include mobile {
      padding-bottom: 1rem;
    }
  }

  .inline-nav {
    li {
      display: inline;
      padding-right: 2rem;

      @include touch {
        padding-right: 0.5rem;
      }
    }
  }

  .newsletter-subscription {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 40px;

    @include desktop {
      bottom: 70px;
    }

    @include widescreen {
      bottom: 55px;
    }

    h5 {
      margin-bottom: 10px;
    }

    #footer-newsletter {
      position: relative;
      padding: 0;

      input {
        margin: 0;
      }

      .hs_email {
        width: 290px;
      }

      label span:first-child {
        display: none;
      }

      .hs_opt_in_email {
        position: absolute;
        top: 80px;
      }

      .hs-button {
        margin-left: 10px;
        padding: 0.75rem;
        background-color: $white;
        border: solid 1px $red;
        color: $red;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    form {
      padding-top: 5px;
      width: 100%;
      display: flex;
    }
  }

  .footer-demo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-top: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;

    @include touch {
      padding-bottom: 1rem;
    }

    label {
      display: none;
    }

    .footer-demo-content {
      width: 100% !important;
    }

    .trustpilot-widget {
      margin: -42px 10px 0 0;
      max-width: 9rem;
      height: 40px;
      padding-top: 0rem;

      @include mobile {
        margin: 0 auto;
      }
    }

    .footer-trust-logos {
      @include touch {
        width: 160px;
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      fieldset {
        margin: 0.05rem;
        width: 19%;
        box-shadow: none !important;

        @include touch {
          width: 100%;
        }
      }

      fieldset:nth-child(4),
      fieldset:nth-child(5),
      fieldset:nth-child(6) {
        display: none;
      }

      .input {
        padding: 0;
        border: 0;
        margin: 0;
        box-shadow: none !important;

        &:active {
          box-shadow: none !important;
        }

        input {
          height: 2.25rem;
          padding: 0 0.7rem;
          border-radius: 2px;
          outline: none !important;
          border: 1px solid $grey-lighter;
          font-size: 0.875rem;
          position: relative;

          &.invalid {
            border: 1px solid red;
          }
        }

        input[type="hidden"] {
          display: none;
        }
      }

      .actions {
        margin: 0.05rem;
        width: 14rem;

        input[type="submit"] {
          -webkit-appearance: none;
          width: 100%;
          height: 2.25rem;
          border-radius: 2px;
          box-shadow: none !important;
          outline: none !important;
          cursor: pointer;
          color: $red;
          font-size: 0.875rem;
          border: 1px solid $red;
          background: $white;

          &:hover {
            color: $white;
            background: $red;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding-top: 2rem;

    .footer-heart {
      margin-bottom: -7px;
    }

    .social-links {
      padding-right: 1rem;

      li {
        padding-right: 0.5rem;

        a {
          color: $grey-light;
          font-size: 1.25rem;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .language-links {
      @include desktop {
        padding-right: 3rem;
      }

      li {
        padding: 0;

        img {
          margin-bottom: -4px;
        }
      }
    }
  }
}

#footer-navigation {
  & > .col-full {
 //   height: 130%;
 //   margin-top: -30%;
  }
}
