h1, h2, h3, h4, h5, h6 {
    clear: both;
	color: $black-bis;
	margin: 1em 0 1em;
	line-height: initial;
	font-family: 'Nunito Sans';
    font-style: normal;
}
h1{

    font-family: "TTNorms";
    font-weight: 700;
    margin: 1.5rem 0 1.5rem;
    font-size: 3.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -1.07px;


}
h2{

    font-size: 2.7rem;
    font-weight: bold;
    font-stretch: extra-condensed;
    font-style: normal;
    margin: 0 auto 10px;
    font-family: "TTNorms";

    padding-bottom: 1rem;
    line-height: 1.04;
    letter-spacing: 0.1rem;
    margin: 0 auto;
}


.title {
    color: $black-bis;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
	padding-bottom: 10px;
	text-align: center;
}

.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}

.single-product div.product p.price {
    font-size: 1.41575em;
    margin: 0px 0 20px;
}


.has-text-align-left {
    text-align: left;
    padding-left: 0 !important;
}