header {
	
}

@media (min-width: 768px) {
	.site-header-cart .widget_shopping_cart {
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 999999;
		font-size: 0.875em;
		left: -999em;
		display: block;
		position: absolute;
		width: 360px !important;
		background-color: white !important;
		p.woocommerce-mini-car t__total.total {
			background: #f1f1f1a8 !important;
		}

		p.woocommerce-mini-cart__buttons.buttons {
			background: #f1f1f1a8 !important;
		}
	}
}
h1.woocommerce-products-header__title.page-title {
	margin: 40px 0px 50px;
}
