.wp-block-cover  {
padding: 0;
	box-shadow: -3px 20px 50px 0 rgba(34, 34, 34, 0.2);
    border-radius: 8px;
}

.shadow_box{

	box-shadow: -3px 20px 50px 0 rgba(34, 34, 34, 0.2);
}
.hero {
  z-index: 50;
  position: relative;
  .title{

	margin: 0 0 34px;
	font-size: 50px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.04;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
}

.subtitle{
    margin: 0 0 4px;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.41;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
}
  &.is-large {
    .hero-body {
      padding-top: 15rem;
      padding-bottom: 15rem;

      @include touch {
        padding-top: 8rem;
        padding-bottom: 8rem;
      }
    }
  }
  &.is-medium {
    .hero-body {
      padding-top: 8rem;
      padding-bottom: 7rem;

      @include touch {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }
  }

  &.products-hero {
    .hero-body {
      padding-top: 0;
      padding-bottom: 0;

      @include touch {
        padding-top: 3rem;
      }
      @include mobile {
        padding-top: 0rem;
      }
    }

    .products-hero-text {
      .inner {
        padding: 3rem 0;

        .hero_social_icons {
          width: 8rem;
          display: inline-block;
          margin-top: 1rem;
          margin-bottom: -1rem;
        }
      }
    }

    &.has-image-background {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    }

    .image-container {
      padding-top: 3rem;
      position: relative;
      .trust-logos {
        position: relative;
        z-index: 5;
        text-align: center;
        height: 1.3rem;
        a {
          margin: 0px auto;
          img {
            height: 5rem;
          }
        }
      }
      img {
        max-height: 480px;
        margin: inherit;
      }
    }
    &.crm{
      padding: 0;
      .capterra{
        width: auto;
        float: left;
        margin: 20px  20px 0;

      }
      .image-container{
        margin-left: 0px;
        margin-bottom: -10px;
      }
    }
  }

  .inline-svg {
    width: 15rem;
    margin-left: -2rem;
    @include touch {
      width: 14rem;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: $weight-bold;

    @include touch {
      font-size: 2rem;
    }
  }

  small {
    text-transform: uppercase;
    font-weight: $weight-bold;
    font-size: 0.75rem;
    display: block;
    padding-bottom: 1rem;
  }
  .note {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .image-container {
    &.full-width {
      img {
        display: block;

        @include desktop {
          max-width: initial;
        }
      }
    }
  }

  &.has-arrow {
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 2rem;
      height: 2rem;
      border-bottom: 1px solid $white;
      border-right: 1px solid $white;
      transform: translate(-50%, -100%) rotate(45deg);
    }
  }

  &.has-image-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  // Images
  &.hero-home {
    // Images
    $imagePath: "/assets/images/hero";
    background-image: url("#{$imagePath}/home_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/home_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/home_mobile.jpg");
    }
  }

  &.is-yellow {
    background-color: $yellow;

    .title,
    .subtitle {
      color: $white;
    }

    &:not(.has-image-background) {
      background: linear-gradient(135deg, #ffd03b 0%, #ff907f 100%);
    }
  }

  &.is-purple {
    background-color: $purple;
    color: $white;

    .title,
    .subtitle {
      color: $white;
    }

    &:not(.has-image-background) {
      background: linear-gradient(135deg, #4660d7 0%, #9156e2 100%);
    }
  }

  &.is-notfound {
    background-color: $not-found-background;
  }

  &.is-primary {
    background-color: $primary;
    color: $white;

    .title,
    .subtitle {
      color: $white;
    }

    &:not(.has-image-background) {
      background: linear-gradient(160deg, #00d0be 0%, #24bfd7 100%);
    }
    &.no-gradient {
      background: $primary;
    }
  }

  @include touch {
    .button {
      margin-bottom: 0.5rem;
    }
  }
}

.partner-hero {
  .hero-body {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .inline-svg {
    width: 25rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    @include touch {
      width: 17rem;
    }
  }

  // Images
  $imagePath: "/assets/images/hero/partner";
  &.square {
    background-image: url("#{$imagePath}/partnerships_square_hero_01.jpg");
  }
}

.optin-hero {
  background-color: $ligh-grey-background;
  .hero-body {
    padding-top: 3.5rem !important;
    @include touch {
      padding-top: 2.5rem !important;
      padding-bottom: 2.5rem !important;
    }
  }
  .container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    @include desktop {
      width: 850px;
    }
  }
  .title {
    margin-top: 3rem;
    @include touch {
      font-size: 1.75rem;
    }
  }
  .subtitle {
    max-width: 45rem;
    margin: auto;
    @include touch {
      font-size: 1rem;
    }
  }
  .intro-icon {
    width: 40px;
    margin: auto;
    margin-bottom: 3rem;
    background-color: $ligh-grey-background;
  }
  .calendar-img {
    max-width: 65rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .back-btn {
    margin-bottom: 3rem;
  }
  .hero-seporator {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid $grey-lighter;
  }
}

.industry-hero {
  &.industry-faces {
    .hero-body {
      padding-top: 4rem;
      padding-bottom: 2rem;

      @include mobile {
        padding-top: 4rem;
        padding-bottom: 22rem;
      }
    }
  }

  .hero-body {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  // Images
  $imagePath: "/assets/images/hero/industry";
  &.hair {
    background-color: #eeeae7;
    background-image: url("#{$imagePath}/hair_en_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/hair_en_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/hair_en_mobile.jpg");
    }
    &.en {
      background-image: url("#{$imagePath}/hair_en_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/hair_en_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/hair_en_mobile.jpg");
      }
    }
    &.de {
      background-image: url("#{$imagePath}/hair_de_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/hair_de_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/hair_de_mobile.jpg");
      }
    }
    &.es {
      background-image: url("#{$imagePath}/hair_es_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/hair_es_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/hair_es_mobile.jpg");
      }
    }
  }
  &.beauty {
    background-color: #eeeae7;
    background-image: url("#{$imagePath}/beauty_en_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/beauty_en_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/beauty_en_mobile.jpg");
    }
    &.en {
      background-image: url("#{$imagePath}/beauty_en_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/beauty_en_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/beauty_en_mobile.jpg");
      }
    }
    &.de {
      background-image: url("#{$imagePath}/beauty_de_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/beauty_de_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/beauty_de_mobile.jpg");
      }
    }
    &.es {
      background-image: url("#{$imagePath}/beauty_es_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/beauty_es_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/beauty_es_mobile.jpg");
      }
    }
  }
  &.spa {
    background-image: url("#{$imagePath}/spa_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/spa_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/spa_mobile.jpg");
    }
  }
  &.health {
    background-image: url("#{$imagePath}/health_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/health_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/health_mobile.jpg");
    }
  }
  &.boutique {
    background-image: url("#{$imagePath}/wedding_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/wedding_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/wedding_mobile.jpg");
    }
  }
  &.coaching {
    background-image: url("#{$imagePath}/coaching_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/coaching_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/coaching_mobile.jpg");
    }
  }
  &.fitness {
    background-image: url("#{$imagePath}/fitness_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/fitness_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/fitness_mobile.jpg");
    }
  }
  &.garage {
    background-image: url("#{$imagePath}/garage_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/garage_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/garage_mobile.jpg");
    }
  }
  &.gastro {
    background-image: url("#{$imagePath}/gastro_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/gastro_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/gastro_mobile.jpg");
    }
  }
  &.physio {
    background-image: url("#{$imagePath}/physio_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/physio_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/physio_mobile.jpg");
    }
  }
  &.other {
    background-image: url("#{$imagePath}/other_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/other_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/other_mobile.jpg");
    }
  }
  &.handyman {
    background-image: url("#{$imagePath}/craft_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/craft_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/craft_mobile.jpg");
    }
  }
  &.insurance {
    background-image: url("#{$imagePath}/insurance_desktop.jpg");
    @include touch {
      background-image: url("#{$imagePath}/insurance_tablet.jpg");
    }
    @include mobile {
      background-image: url("#{$imagePath}/insurance_mobile.jpg");
    }
  }
}

.partner-hero {
  // Images
  $imagePath: "/assets/images/hero/partner";

  &.douglas {
    .hero-body {
      @include mobile {
        padding-top: 3rem;
        padding-bottom: 20rem;
      }
    }
    &.de {
      background-image: url("#{$imagePath}/partnerships_douglas_hero_01_de_desktop.jpg");
      background-color: #d9d5d4;
      @include touch {
        background-image: url("#{$imagePath}/partnerships_douglas_hero_01_de_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/partnerships_douglas_hero_01_de_mobile.jpg");
        background-position: 46%;
      }
    }
  }
  &.reseller {
    .title {
      font-size: 3rem;
      margin-bottom: 0;
      @include mobile {
        font-size: 2rem;
      }
    }
    .hero-body {
      @include mobile {
        padding-top: 15rem;
        padding-bottom: 3rem;
        .button {
          margin: 0.2rem;
          letter-spacing: 2px;
          width: 100%;
        }
      }
    }

    .subtitle {
      max-width: 45rem;
      margin: 0.3rem 0 0.5rem;
      @include touch {
        font-size: 1rem;
      }
    }
    background-image: url("#{$imagePath}/reseller_lp_hero_01.jpg");
    background-color: #d9d5d4;
  }
  &.reseller-bottom {
    .hero-body {
      padding-top: 20rem;
      padding-bottom: 5rem;
      @include mobile {
        padding-top: 20rem;
        padding-bottom: 3rem;
        .button {
          margin: 0.2rem;
          width: 100%;
        }
      }
    }
    background-position: center;
    background-image: url("#{$imagePath}/reseller_lp_image_01.jpg");
    background-color: #d9d5d4;
  }


  &.referall {
    .title {
      font-size: 3rem;
      margin-bottom: 0;
      @include mobile {
        font-size: 2rem;
      }
    }
    .hero-body {
      @include mobile {
        padding-top: 15rem;
        padding-bottom: 3rem;
        .button {
          margin: 0.2rem;
          letter-spacing: 2px;
          width: 100%;
        }
      }
    }

    .subtitle {
      max-width: 45rem;
      margin: 0.3rem 0 0.5rem;
      @include touch {
        font-size: 1rem;
      }
    }
    background-image: url("#{$imagePath}/referral_lp_hero_01.jpg");
    background-color: #d9d5d4;
  }
  &.referall-bottom {
    .hero-body {
      padding-top: 20rem;
      padding-bottom: 5rem;
      @include mobile {
        padding-top: 20rem;
        padding-bottom: 3rem;
        .button {
          margin: 0.2rem;
          width: 100%;
        }
      }
    }
    background-position: center;
    background-image: url("#{$imagePath}/referral_lp_image_01.jpg");
    background-color: #d9d5d4;
  }
}

.hero-list {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;

  li {
    margin: 0.3rem 0;
    position: relative;
    padding-left: 2.5rem;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;

      background: url("/assets/images/icons/tick_run.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.is-primary {
    li {
      &:before {
        background: url("/assets/images/icons/tick.svg");
      }
    }
  }

  &.is-black {
    li {
      &:before {
        background: url("/assets/images/icons/tick-black.svg");
      }
    }
  }

  &.is-purple {
    li {
      &:before {
        background: url("/assets/images/icons/tick_marketplace.svg");
      }
    }
  }

  &.en-tag {
    &.tag-booking-1 li:nth-child(1):after {
      content: "";
      position: absolute;
      top: -1.8rem;
      right: -5rem;
      width: 10rem;
      height: 4rem;
      background: url("/assets/images/common/new_en.png") no-repeat;
      background-size: 10rem;

      @include mobile {
        display: none;
      }
    }
  }
  &.de-tag {
    &.tag-booking-1 li:nth-child(1):after {
      content: "";
      position: absolute;
      top: -2em;
      left: 22rem;
      width: 10rem;
      height: 4rem;
      background: url("/assets/images/common/new_de.png") no-repeat;
      background-size: 10rem;
      @include mobile {
        display: none;
      }
    }
  }
}

/*Testing website page hero*/
.hero {
  &.pos {
    // Images
    $imagePath: "/assets/images/products";

    &.es-product {
      background-image: url("#{$imagePath}/feature_pos_hero_01_es_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/feature_pos_hero_01_es_tablet.jpg");
      }
      @include mobile {
        background-position: center bottom;
        padding-bottom: 16em;
        min-height: 50rem;
        background-image: url("#{$imagePath}/feature_pos_hero_01_es_mobile.jpg");
      }
    }

    .ipad-trust-logo {
      margin-bottom: 15px;
      padding: 0;

      @include mobile {
        width: 225px;
        height: auto;
      }
    }

    .hero-image {
      position: absolute;
      display: block;

      @include mobile {
        display: none;
      }

      @include tablet {
        top: -2rem;
        right: -3rem;
        width: 55%;
      }

      @include desktop {
        top: 2.5rem;
        right: -3rem;
        width: 600px;
      }

      @include widescreen {
        top: 2rem;
        right: -3rem;
        width: 670px;
      }
    }
  }
  &.website {
    // Images
    $imagePath: "/assets/images/products";

    @include mobile {
      background-position: center bottom;
      padding-bottom: 12.5rem;
      min-height: 28rem;
    }
    &.en-product {
      background-image: url("#{$imagePath}/feature_website_hero_01_en_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/feature_website_hero_01_en_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/feature_website_hero_01_en_mobile.jpg");
      }
    }
    &.de-product {
      background-image: url("#{$imagePath}/feature_website_hero_01_de_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/feature_website_hero_01_de_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/feature_website_hero_01_de_mobile.jpg");
      }
    }
    &.es-product {
      background-image: url("#{$imagePath}/feature_website_hero_01_es_desktop.jpg");
      @include touch {
        background-image: url("#{$imagePath}/feature_website_hero_01_es_tablet.jpg");
      }
      @include mobile {
        background-image: url("#{$imagePath}/feature_website_hero_01_es_mobile.jpg");
      }
    }

    strong {
      padding-bottom: 0.75rem;
      display: block;
    }
    h1 {
      @include mobile {
        font-size: 1.8rem;
      }
    }

    .hero-body {
      @include mobile {
        padding-top: 3rem;
      }
    }
  }
}

.hero-home-new {
  .hero-body {
    background-image: url("/assets/images/home/home_background_hero_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem !important;

    h1 {
      @include widescreen-only {
        font-size: 2rem;
      }
      @include desktop-only {
        font-size: 2rem;
      }
    }
  }
  .hero-body.no-bg {
    background: #00d2d3;
  }

  .ssuform {
    @include mobile {
      margin: 0 auto;
    }

    .field {
      .control {
        @include touch {
          margin-right: 0;
        }
      }
    }
  }

  .hero-trust-box {
    min-height: 130px;

    .trustpilot-widget {
      max-width: 10rem;
      height: 7rem;
      padding-top: 1rem;
      @include mobile {
        margin: 0 auto;
      }
    }

    .trust-logos {
      margin-top: 1rem;
      width: 100%;
      max-width: 20rem;
      &.short {
        margin: 0 auto;
        max-width: 15rem;
      }
    }
  }

  .is-multiline {
    align-items: center;
  }

  .intro-text {
    @include widescreen {
      padding-right: 6rem;
    }

    form#ssuformHeader {
      .control {
        @include desktop {
          margin-bottom: 0 !important;
        }
        @include mobile {
          margin-right: 0 !important;
        }

        button {
          width: 100%;
          @include mobile {
            margin-right: 0 !important;
          }
        }
      }
    }

    .heading-rotation-container {
      position: relative;
      min-height: 100px;
      padding-bottom: 0.5rem;
      overflow: hidden;

      .intro-title {
        font-size: 2.5rem;
        font-weight: 700;
        @include touch {
          font-size: 1.5rem;
        }
      }

      .rotating-note {
        display: flex;
        align-items: center;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        &.headline-1 {
          animation: heading-rotation-animation 1.5s 0.5s;
        }
        &.headline-2 {
          animation: heading-rotation-animation 1.5s 1.75s;
        }
        &.headline-3 {
          animation: heading-rotation-last-animation 1.5s 3s;
        }
      }
      h1.title {
        opacity: 0;
        animation: heading-static-animation 0.25s 4.75s forwards;
      }
    }
  }

  .intro-video {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }

  .is-video {
    position: relative;
    @include desktop {
      top: -1.8rem;
    }
    img {
      position: absolute;
    }
    .embed-responsive-item {
      padding: 0 1.9rem;
      @include widescreen {
        padding: 0.8rem 2.5rem 1rem;
      }
      @include mobile {
        padding: 0 2rem;
      }
    }
  }
  .intro-shadow {
    background: url("http://i65.tinypic.com/2luq5x2.png") center center
      no-repeat;
    background-size: cover;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    -webkit-animation-name: introShadow;
    animation-name: introShadow;
    .loader {
      width: 2rem;
      height: 2rem;
      left: calc(50% - 0.75em);
      position: absolute;
      top: calc(50% - 0.75em);
      border-bottom-color: $primary;
      border-left-color: $primary;
    }
  }
  .intro-shadow {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-easing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: center;
    transform-origin: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  + .section-features .feature-tiles {
    @include desktop {
      padding: 3rem 1rem 0;
    }
    @include widescreen {
      padding: 3rem 5rem 0;
    }
  }
}

.products-category-hero {
  .products-hero-head {
    margin-bottom: 2.5rem;

    small {
      padding-bottom: 0.5rem;
    }
    .title {
      font-size: $size-3;
    }
  }

  .products-hero-text {
    padding-left: 2rem;

    .has-numbers-turquoise {
      padding-left: 5rem;
      @include mobile {
        padding-left: 0rem;
      }

      h2 {
        font-weight: 700;
        margin-top: 0.5rem;
        @include touch {
          font-size: 1.5rem;
        }
      }
    }
  }
  .feature-icon {
    .inline-svg {
      width: 100%;
    }
  }
}

.subpage-hero-trust-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  .trustpilot-widget {
    &.en {
      // width: 150px;
      margin-left: -0.5rem;
    }
    &.de {
      // width: 150px;
      margin-left: -0.5rem;
    }
  }
}
