.site-top-nav-wrap {
    margin: 0;
    padding: 20px 0 0;
    background: none;
    background-image: url(https://staging-www.shore.com/assets/images/home/bg_icon_pattern_2x.png);
    background-size: cover;
    background-position: top center;
    height: 90px;
}


#primary-navigation {
	background: white;
	box-shadow: 3px 10px 50px 0 #22222233;
	margin: 0;
	height: 80px;
	
	li.menu-item {
	//padding: 5px 15px;
		a{
			padding: 1em;
		}
		svg{
			color: #c3c3c3;
			//color: $new-link;
		}
	}
	.navbar-brand a {
		margin-right: 20px;
		padding: 0;
		display: inherit;	
		img {
			height: 25px;
			width: auto;
		}
	}



/* 	ul.menu ul li a {
		
		font-weight: bold;
		font-size: 0.975em;
		color: #5860d6 !important;
		//padding-left: 60px;
		font-weight: 600;
		font-weight: 600;
	} */
}

@media (min-width: 768px) {
	.primary-nav .site-header-cart {
		position: relative;
		width: auto;
		float: right;
		padding: 10px 15px;
		background: none;
		margin-top: 0px;
		.cart-contents {
			padding: 1em 1px;
			display: block;
			position: relative;
			//	background-color: rgba(0, 0, 0, 0);
			height: auto;
			width: auto;
			text-indent: 0;
			.count {
				display: none;
			}
			span {
				display: inline;
				margin: 0 5px;
				padding: 0;
			}
		}
	}
}
.primary-nav .site-header-cart {
	.cart-contents {
		padding: 1em 0;
		display: block;
		position: relative;
		///	background-color: rgba(0, 0, 0, 0);
		height: auto;
		width: auto;
		text-indent: 0;
	}
}
nav#site-navigation {
	width: calc(100% - 200px);
	max-width: calc(100% - 200px);
	float: left;
	padding-right: 40px;
	/* padding: 0px 15px; */
	height: 70px;
	max-height: 70px;
	margin-top: 5px;
	@include touch {
		width: 100%;
		max-width: 100%;
		float: left;
		padding-right: 0;
		padding: 0;
		height: auto;
		max-height: 70px;
		margin-top: 5px;
	}
}

ul.sub-menu {
	background: white;
	position: absolute !important;
}



.navbarc {
	position: relative;
	background: none;
	width: 100%;
	z-index: 100;

	&.en {
		.navbar-menu {
			.navbar-end {
				width: 100%;
				@include touch {
					padding-top: 2.5rem;
				}
			}
		}
	}

	&.has-dark-background {
		background: rgba(0, 0, 0, 0.25);
	}

	&.is-ontop {
		position: absolute;
		background: transparent;

		.navbar-burger span,
		.navbar-phoneno {
			color: $white;
		}

		.custom-logo-link:hover,
		.custom-logo-link,
		.navbar-item:hover,
		.navbar-item:hover .navbar-link,
		.navbar-item .navbar-link,
		.navbar-end > .navbar-item {
			padding: 0 1em 0;

			@include desktop {
				color: white;
			}
			a {
				padding: 0.35rem 1em;
			}
		}

		.navbar-end.nav-menu {
			overflow: hidden;
			width: 100%;
			float: right;
			max-height: 3.25rem;
		}
		.custom-logo-link::after,
		.navbar-item .navbar-link:after {
			border-color: white !important;
		}
		.navbar-end .fa-phone {
			color: $purple !important;
		}
		.has-dropdown .navbar-item:hover {
			color: $primary;
		}
		.button.is-primary {
			background-color: $purple;
			@include touch {
				background-color: $primary;
			}
		}
		.button.button-outline {
			color: $white;
			border-color: $white;
			&:hover {
				border-color: #ff2e52;
			}

			@include touch {
				color: $black;
				border-color: $black;
			}
		}
	}

	.navbar-phoneno {
		margin-left: auto;
		@include mobile {
			padding-right: 0.4rem;
		}
	}
	.site-branding,
	.navbar-brand {
		height: 3.25rem;
		padding-left: 40px;
		a {
			padding-left: 0;
		}
		img {
			max-height: 2rem;
			height: 2rem;
			width: auto;
			margin-top: 15px;
			padding: 5px 0px;
			max-width: 150px;
			width: 100px;
			height: auto;
		}
	}
	.navbar-burger {
		margin-left: inherit;
		text-align: center;
		margin: 0;
		padding: 0;
		@include mobile {
			width: 3.5rem;
		}
	}
	.navbar-item {
		@include desktop-only {
			padding: 0.5rem 0.5rem;
		}
	}

	.navbar-item {
		text-transform: uppercase;
		font-size: 0.75rem;
		font-weight: $weight-bold;
		letter-spacing: 1px;
		padding-right: 1.75rem;
		a {
			padding: 0.35rem 1em;
		}
	}

/* 	.custom-logo-link,
	.navbar-item {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.75rem;
		padding: 0 1em 0 !important;
		&:hover {
			a,
			.navbar-link {
				color: $primary;
				&:after {
					border-color: $primary;
				}
			}
		}
		&.menu-item-has-children,
		&.is-mega {
			position: static;
			padding: 0;
			@include touch {
				position: relative;
			}
			.sub-menu,
			.navbar-dropdown {
				transition: height 0.2s ease-out;
				position: relative;
				&.mega-triplet {
					@include widescreen {
						max-width: 280px;
						min-width: 80%;
						left: unset;
						right: 0;
					}
					.media {
						@include touch {
							&.is-top-continued {
								display: none;
							}
						}
						@include desktop {
							&.is-bottom-continued {
								display: none;
							}
						}
					}
				}
				&.menu-item {
					@include desktop {
						max-width: 280px;
						min-width: 20%;
						left: unset;
					}
					.media {
						line-height: normal;
						@include tablet {
							padding: 0.25rem 1rem;
						}
						@include desktop {
							padding: 0.4rem 1rem;
						}
					}
					.media-left {
						width: 1.5rem;
						margin-right: 1rem;
						@include touch {
							width: 1.25rem;
						}
					}
					.media-content p {
						@include desktop {
							padding-bottom: 0.4rem;
						}
						@include touch {
							padding-top: 0;
						}
					}
				}
			}

			.has-mega-child {
				margin-top: 0.5rem;
				@include desktop {
					margin-bottom: 0.5rem;
				}

				.column {
					border: 0px;
					.is-mega-menu-title {
						border-top: 1px solid #e6e6e6;
					}
				}
			}
			.custom-logo-link,
			.navbar-item {
				padding: 0.4rem 1rem;
				margin: 0px;
				border: none;
				cursor: pointer;
				@include touch {
					padding: 0.25rem 1rem;
					display: flex;
				}

				&.has-lottie {
					@include touch {
						margin-bottom: -0.5rem;
					}
				}

				&:first-of-type {
					@include desktop {
						padding-top: 0.7rem;
					}
				}

				&:last-child {
					@include desktop {
						padding-bottom: 0.7rem;
					}
				}

				&.is-primary:hover {
					background-color: #ebfbfa;
					color: #626567;
				}
				&.is-purple:hover {
					background-color: #f2f3fc;
					color: #626567;
				}
				&.is-blue:hover {
					background-color: #ebf7ff;
					color: #626567;
				}
				&.is-red:hover {
					background-color: #faeef0;
					color: #626567;
				}

				.lottie {
					&.primary {
						path {
							fill: #fff;
							stroke: $primary;
						}
					}
					&.purple {
						path {
							fill: #fff;
							stroke: $purple;
						}
					}
					&.blue {
						path {
							fill: #fff;
							stroke: $blue;
						}
					}
					&.red {
						path {
							fill: #fff;
							stroke: $red;
						}
					}
				}

				.media-left {
					width: 3.2rem;
					margin-right: 0.75rem;
					@include touch {
						width: 1.75rem;
						margin-right: 0.55rem;
					}
				}
				.media-content {
					p {
						font-weight: 600;
						text-transform: none;
						white-space: pre-wrap;
						display: flex;
						align-items: center;
						@include touch {
							padding-top: 0.25rem;
						}

						b {
							color: $black;
							text-transform: uppercase;
							padding-right: 0.5rem;
							@include touch {
								font-size: 0.85rem;
								font-weight: 400;
								text-transform: capitalize;
							}
						}
						.tag {
							font-size: 0.55rem;
							padding: 0 0.15rem;
							height: 0.75rem;
							text-transform: uppercase;
							line-height: normal;
							display: inline-block;
							background-color: #20c76e;
						}
						& + p {
							@include touch {
								display: none;
							}
						}
					}
				}
			}

			.navbar-control {
				display: none;
				position: absolute;
				top: 0;
				width: 100%;
				height: 34px;
				background: transparent;
				box-shadow: none;
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				outline: none;
				@include touch {
					display: block;
				}
				+ .navbar-dropdown {
					@include touch {
						height: 0;
						padding: 0;
						margin-top: 0;
					}
				}
				&:after {
					content: "\f107";
					color: $black;
					font-family: "FontAwesome";
					font-weight: bold;
					font-size: 1rem;
					line-height: 34px;
					float: right;
					margin-left: 5px;
					padding-right: 0.75rem;
				}
				&:checked {
					+ .navbar-dropdown {
						@include touch {
							height: auto;
							padding: 0.5rem 0rem;
						}
					}
					&:after {
						content: "\f106";
					}
				}
			}
		}
	} */
	

	.language-dropdown {
		.navbar-item {
			justify-content: center;
		}
	}

	/* .menu-item {
		background: transparent;
		border: 0;
		font-weight: 600;
		font-size: 0.75rem;
		align-items: stretch;
		color: #2e2f35;
		display: block;

		padding: 0.5rem 0.75rem;
		position: relative;

		a,
		span {
			font-size: 0.75rem;
			font-weight: 600;
			letter-spacing: normal;
			padding-right: 1.75rem;
			color: #2e2f35;
			display: block;
			line-height: 3.5;
			padding: 1rem 0.75rem;
			position: relative;
		}
	} */

	@include touch {
		&.active {
			box-shadow: 0 0 3rem 3rem rgba(0, 0, 0, 0.5);
		}

		.navbar-menu {
			padding: 0;
			position: absolute;
			width: 50%;
			right: 0;
			background-color: $white;
		}
		.navbar-item a,
		.navbar-link {
			background: $white-ter;
			background: $white;
			color: $black;
			border-top: 1px solid $grey-lighter;
			border-bottom: 1px solid $grey-lighter;
		}
		.navbar-item {
			color: $text;

			&:hover {
				color: $grey;
			}
		}

		.navbar-dropdown {
			padding: 0.5rem 1rem;

			&:after {
				left: auto;
				right: 1rem;
			}

			.navbar-item {
				padding: 0.5rem;
			}
		}

		.solutions-dropdown {
			width: auto;
			margin: 0;
			padding: 0 0 1rem;
			border-bottom: 1px solid $grey-lighter;

			.column {
				padding-bottom: 0;
				margin: 0;
			}

			.solution-dropdown-item {
				padding: 1rem 0 0;

				p,
				.learn-button {
					display: none;
				}
			}
		}
	}

	@include touch {
		.navbar-brand a img {
			height: 100%;
			width: auto;
			margin-top: 10px;
			padding: 5px 0px;
			height: 70px;
		}
		.site-branding,
		.navbar-brand {
			.navbar-burger {
				position: relative;
				z-index: 999;
				box-shadow: none;
				&.active {
					height: 3.2rem;
					span {
						color: $black;
					}
				}
			}
		}
		.navbar-menu {
			padding: 0;
			position: absolute;
			width: 0%;
			max-width: 20rem;
			top: 0;
			right: 0;
			padding-left: 1rem;
			padding-bottom: 1rem;
			display: block;
			background-color: transparent;
			box-shadow: none;
			overflow: hidden;

			height: 100vh;
			width: 100vw;
			top: 60px;
			padding: 0;
			opacity: 0;
			display: none;
			&.active {
				width: 90%;
			}

			.sub-menu {
				display: flex;
				margin: 0 1rem 0.75rem;
				.custom-logo-link,
				.navbar-item {
					padding: 0 1em 0 !important;
					a {
						padding: 1rem 0.5rem;
						min-width: 7.5rem;
						line-height: unset;
					}
				}
				.level-right {
					margin-top: 0;
				}
			}
			.navbar-item,
			.navbar-link {
				background: $white;
				border-top: 1px solid $white-ter;
				border-bottom: 1px solid $white-ter;
				margin-top: -1px;
			}
		}
	}
}
.toggled .navbar-menu {
	display: block;
	opacity: 1;
}
.dropdown {
	&.is-centered {
		.dropdown-menu {
			width: 100%;
			padding-top: 0;
			border: 0;

			.dropdown-content {
				border-radius: 0;
				border: 0;
			}

			a.dropdown-item {
				padding-left: 0;
				padding-right: 0;

				&:focus {
					box-shadow: none;
				}
			}
		}
	}
}

/* 
ul.navbar-end.nav-menu {
	width: 100%;
}
ul.sub-menu {
	display: none !important;
}
.navbar-item.menu-item-has-children:hover {
	ul.sub-menu {
		display: block;
		top: 60px;
		margin-left: -50px;
		left: auto;
	}
}
 */