.single-product div.product.product-type-simple {
    max-width: 100%;
    position: relative;
    //border: solid 1px rgba(189, 195, 199, 0.6);
   // background: white;
    padding-bottom: 0px;
    height: auto;
    padding: 0;
    & > div{
        border: solid 1px rgba(189, 195, 199, 0.6);
        background: white;
        & > div{
            
        }
    }
}

.summary.entry-summary {
    float: right;
    margin-right: 0;
    padding-top: 2.617924em;
    padding-bottom: 2.617924em !important;
    padding: 40px;
}

.related.products {
    padding-top: 2.617924em;
    border-top: solid 1px rgba(189, 195, 199, 0.6);
    float: left;
    height: auto;
    width: 100%;
    h2 {
        padding: 40px;
    }
    ul.products {
        margin-left: 0;
        margin-bottom: 0;
        clear: both;
        padding: 40px;
    }
}

div#tab-description {
	width: 100%;
	padding: 0px;
	border-top: 0px solid;
}
@media (min-width: 768px) {
    .single-product div.product .woocommerce-product-gallery {
        float: left;
        margin-right: 0;
        margin-bottom: 3.706325903em;
        padding: 20px;
        width: 50% !important;
        max-width: 50%;
        border-bottom: 0px solid;
    }
    .single-product div.product .summary {
        float: right;
        margin-right: 0;
        padding: 20px;
        max-width: 50%;  width: 50% !important;
        border-left: 0px solid;
    }
    .single-product div.product .woocommerce-tabs {
        padding-top: 2.617924em;
        padding-bottom: 0;
        border-bottom: 0px solid;
        padding-left: 40px;
    }

    .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0s;
      
        margin-left: -0px;
        border-left: 0px solid;
        margin-right: 0;
    }
}

.wc-block-featured-category .wc-block-featured-category__title {
    margin-top: 45px;
    font-size: 1.4em;
    color: #121212;
    font-family: "TTNorms";
    padding: 0;
    margin: 45px auto;
    font-size: 1.4em;
    width: 100%;
}

.columns.product-type-simple {
    position: relative;
    display: block;
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0s;
    margin-left: -0px;
    border-left: 0px solid;
}
