section.section {
	float: left;
	//    padding: 3rem 2.5rem;
	padding: 0;
	.block-group.section {
		padding: 3rem 2.5rem;
	}
	.hentry .entry-content .wp-block-cover .wp-block-cover__inner-container :nth-last-child(-n + 1) {
		margin-bottom: 0;
	}
	p img {
		height: auto;
		margin: 0px 20px;
	}

}
