.wp-block-button a,
a.button,
a.wp-block-button__link,
a.btn,
.button {
    box-shadow: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-bottom: calc(0.375rem - 1px);
    padding-top: calc(0.375rem - 1px);
    position: relative;
    vertical-align: top;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    color: #ffffff !important;
    background: #00d0be !important;
    border-color: #00d0be;
    font-size: 1.25rem;
	a {
		color: $white !important;
	}
	color: $white !important;

	background: $primary !important;
	border-color: $primary;
	font-size: 1.25rem;
	&:hover {
		a {
			color: $white !important;
		}
		background: $exclusive-dark !important;
		border-color: $exclusive-dark;
	}
	&.is-exclusive {
		background: $primary !important;
		border-color: $primary;
		a {
			color: $white !important;
		}
		&:hover {
			background: $exclusive-dark !important;
			border-color: $exclusive-dark;
			a {
				color: $white !important;
			}
		}
	}

	&.button-outline {
		display: inline-flex;
		margin: 0 auto;
		font-size: $size-6;
		background: transparent;
		padding: 0.75rem 1.25rem;

		&.is-green {
			color: $primary;
			border-color: $primary;
			&:hover {
				color: $white !important;
				background: $primary !important;
			}
		}

		&.is-black {
			color: $black;
			border-color: $black;
			&:hover {
				color: $white !important;
				background: #ff2e52 !important;
				border-color: #ff2e52;
			}
		}

		&.is-danger {
			color: #ff2e52;
			border-color: #ff2e52;
			&:hover {
				color: $white !important;
				background: #ff2e52 !important;
			}
		}
	}
}
.learn-button {
	color: $primary;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: $weight-bold;
	letter-spacing: 1.2px;

	&:hover {
		color: darken($primary, 5%);
	}

	&.is-orange {
		color: $orange;

		&:hover {
			color: darken($orange, 5%);
		}
	}
	&.is-purple {
		color: $purple;

		&:hover {
			color: darken($purple, 5%);
		}
	}
}

.button {
	outline: 0;

	&.is-warning {
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&.is-purple {
		background-color: $purple;
		color: $white;
		border-color: transparent;

		&:hover {
			background-color: $purple-dark;
		}
	}

	&.is-danger {
		&:hover {
			background-color: $red-dark;
		}
	}

	&.is-small {
		font-size: 14px !important;
	}

	&.is-text {
		&:focus,
		&:active {
			background: transparent;
		}

		&:hover {
			color: $grey;
			background: transparent;
		}

		&.white {
			color: $white;
			&:hover {
				color: $grey-lighter;
			}
		}
	}

	&.is-arrow-link {
		border: 0;
		padding-left: 0;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: $weight-bold;
		color: $primary;
		background: transparent;

		&.is-yellow {
			color: $yellow;
		}
		&.is-purple {
			color: $purple;
		}
		&.is-dark-green {
			color: $green-dark;
		}

		&:hover,
		&:active,
		&:focus {
			color: $purple !important;
			background: transparent;
			box-shadow: none !important;
		}
	}
}

a.button {
	// ignore clicks on inner content of button
	& > * {
		pointer-events: none;
	}
}
