@-webkit-keyframes fadeIn{
    from{ opacity:0; display: none; }
    to{ opacity:1;display: block; }
}
@keyframes fadeIn{
    from{ opacity:0; }
    to{ opacity:1; }
}

.fadeIn{
    -webkit-animation: fadeIn 0.3s ease-in;
    -moz-animation: fadeIn 0.3s ease-in;
    -o-animation: fadeIn 0.3s ease-in;
    animation: fadeIn 0.3s ease-in;
  }

@-webkit-keyframes introShadow{
    from{
        opacity:0;
        -webkit-transform:scale(.86);
        transform:scale(.86)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes introShadow{
    from{
        opacity:0;
        -webkit-transform:scale(.86);
        transform:scale(.86)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}




@-webkit-keyframes bdSlideDown{
    from{
        opacity:0;
        -webkit-transform:translateY(-1rem);
        transform:translateY(-1rem)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes bdSlideDown{
    from{
        opacity:0;
        -webkit-transform:translateY(-1rem);
        transform:translateY(-1rem)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}


@-webkit-keyframes bdSlowIn{
    from{
        opacity:0;
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes bdSlowIn{
    from{
        opacity:0;
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    to{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}

.bounceInUp{
  -webkit-animation:bounceInUp 1s;
    animation:bounceInUp 1s;
}

@keyframes bounceInUp{
    0%,60%,75%,90%,to{
        animation-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    0%{
        opacity:0;
        transform:translate3d(0,3000px,0)
    }
    60%{
        opacity:1;
        transform:translate3d(0,-20px,0)
    }
    75%{
        transform:translate3d(0,10px,0)
    }
    90%{
        transform:translate3d(0,-5px,0)
    }
    to{
        transform:translateZ(0)
    }
}


@keyframes heading-rotation-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -80px, 0);
    opacity: 0;
  }
}

@keyframes heading-rotation-last-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heading-static-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
