.background-primary {
	background: $primary;
}
.background-white {
	background: $white;
}
.background-black {
	background: $black;
}
.background-light-grey {
	background: $white-bis;
}
.background-grey {
	background: $white-drk;
}
.background-new-grey {
	background-color: $new-gray;
}
.background-light-primary {
	background: $primary-background;
}
.background-light-yellow {
	background: $yellow-background;
}
.background-light-greenish {
	background: $greenish-background;
}
.background-light-purple {
	background: $purple-background;
}

.background-light-green {
	background: #00d6c6;
}
.background-dark-purple {
	background: $dark_purple;
}

.background-light-teal {
	background: $light-teal-background;
}

.background-light-snow {
	background: $new-gray;
}
.background-purple {
	background: #5860d6;
}

.gradient-yellow {
	background: $yellow;
	background: linear-gradient(135deg, #ffd03b 0%, #ff907f 100%);
}
.gradient-purple {
	background: $purple;
	background: linear-gradient(135deg, #4660d7 0%, #9156e2 100%);
}
.gradient-green,
.gradient-primary {
	background: $primary;
	background: linear-gradient(160deg, #00d0be 0%, #24bfd7 100%);
}
.gradient-green-blue {
	background: $primary;
	background: linear-gradient(160deg, $primary 0%, $purple 100%);
}

.gradient-gray {
	background-image: linear-gradient(to bottom, rgba(246, 247, 250, 0), #f6f7fa);
}

.primary-focus {
	color: #00d0be !important;
}

.not-found-button {
	color: white;
	background-color: $not-found-button;
	border-color: none !important;
	border-radius: 3px;
	&:hover {
		color: white;
		background-color: $not-found-button-hover;
	}
}

.is-padding-small {
	padding-top: 2rem;
}

.is-neg-margin-right {
	margin-right: 2rem;
}

.is-circular {
	border-radius: 50%;
}

.is-section-padding-m {
	&.section {
		@include touch {
			padding: 3rem 1.5rem !important;
		}
	}
}
.text-uppercase {
	text-transform: uppercase;
}
.text-exclusive {
	color: $primary !important;
}
.text-purple {
	color: $purple !important;
}
.text-blue {
	color: $blue !important;
}
.text-green {
	color: $pos-color !important;
}
.text-skyblue {
	color: $blue !important;
}
.text-red {
	color: $red !important;
}
.text-yellow {
	color: $yellow !important;
}
.text-orange {
	color: $orange !important;
}
.text-black {
	color: $black !important;
}
.text-white {
	color: $white !important;
}
.text-grey {
	color: #979899 !important;
}
.text-bodycolor {
	color: $grey-darker !important;
}
.text-underline {
	text-decoration: underline;
}
.text-new-link {
	color: $new-link;
}

.title-narrow {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;

	&.is-3 {
		@include mobile {
			font-size: 1.5rem;
		}
	}
}
.is-lead {
	font-size: 1.25em;
	font-weight: 300;
}
.vertical-align {
	display: flex;
	align-items: center;
}
.vertical-bottom {
	display: flex;
	align-items: flex-end;
}
.justify-center {
	display: flex;
	justify-content: center;
}
.fill-height {
	height: 100%;
}
.fill-width {
	width: 100%;
}
.container-desktop {
	max-width: $desktop;
	margin: 0 auto;
}
.round-image {
	border-radius: 50%;
}
.container-padded {
	padding-top: 2em;
	padding-bottom: 2em;
}
.is-paddingless-top {
	padding-top: 0 !important;
}
.is-paddingless-bottom {
	padding-bottom: 0 !important;
}
.has-border-bottom {
	border-bottom: 1px solid $grey-lighter;
}
.has-border-top {
	border-top: 1px solid $grey-lighter;
}

.m-left {
	margin-left: auto !important;
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	&:before {
		display: block;
		content: "";
	}

	.embed-responsive-item {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	&.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}
}

.has-lottie {
	cursor: default;
}

.big-icon {
	margin: 0 auto;
	max-width: 6.5rem;
	height: 6.5rem;
	margin-bottom: 0.5rem;

	.inline-svg {
		max-height: 6.5rem;
	}
}

.medium-icon {
	margin: 0 auto;
	max-width: 4rem;
	height: 4rem;
	margin-bottom: 0.3rem;

	.inline-svg {
		max-height: 2.5rem;
	}
}

.content-tile {
	margin-bottom: 1.5rem;
	padding-top: 1rem;

	&.has-bottom-cta {
		position: relative;
		padding-bottom: 3rem;

		a {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 1rem;
		}
	}
}

.is-divider-vertical {
	display: block;
	flex: none;
	width: auto;
	height: auto;
	padding: 2rem;
	margin: 0;
	position: relative;
	border-top: none;
	min-height: 2rem;
	@include mobile {
		display: none;
	}
	&:before {
		content: "";
		border-left: 0.1rem solid #dbdbdb;
		bottom: 1rem;
		display: block;
		left: 50%;
		position: absolute;
		top: 1rem;
		transform: translateX(-50%);
	}
}

.has-numbers-turquoise {
	padding-left: 7rem;
	padding-right: 0;
	position: relative;
	@include mobile {
		padding-left: 0;
		padding-top: 1rem;
	}

	.numbers-turquoise {
		position: absolute;
		top: -1.75rem;
		left: 0;
		display: block;

		@include mobile {
			margin: auto;
			text-align: center;
			right: 0;
			top: -4rem;
		}
		&.is-medium {
			@include desktop {
				top: -2.5rem;
			}
		}

		.inline-svg {
			width: 7rem !important;
			margin-top: 0.25rem;
			@include mobile {
				width: 6rem !important;
			}
		}
	}

	h2 {
		font-weight: 700;
		margin-top: 0.5rem;
		@include touch {
			font-size: 1.5rem;
		}
	}

	.bullets-list {
		list-style: none;
		margin-left: 0;

		li {
			font-size: 1rem;
			margin: 0.3rem 0 0.75rem;
			padding-left: 2rem;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				width: 1.25rem;
				height: 1.25rem;
			//	background: url(/assets/images/icons/check_primary.svg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
	}
}

/*--Google place in SSU--*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.pac-container {
		margin-left: 3rem;
		margin-top: 2.2rem;
	}
	::i-block-chrome,
	.pac-container {
		margin-left: 3rem;
		margin-top: 2.2rem;
	}
}

.is-paddingless-mobile {
	@include mobile {
		padding: 0;
	}
}

/*SSU Inline form in header and footer*/
.ssuform {
	position: relative;
	padding: 1rem 0;
	max-width: 30rem;

	@include touch {
		max-width: 100%;
		padding: 0.5rem 0;
	}

	.field {
		@include touch {
			display: block;
		}
		.control {
			margin-bottom: 0.5rem;
		}
	}

	.input {
		border: 1px solid $primary;
		box-shadow: 0 0 0 0.125em rgba(0, 208, 190, 0.3);
		&.parsley-error:focus {
			box-shadow: none;
			border-color: rgba(255, 46, 82, 1);
		}
		@include touch {
			width: 100%;
		}
	}
	.button {
		@include touch {
			width: 290px;
			margin-top: 0.2rem;
		}
	}
	.control {
		@include touch {
			margin: 16px 0;
		}
		.is-expanded {
			position: unset;
		}
	}
	.parsley-errors-list {
		position: absolute;
		top: 75%;
		width: 100%;
		margin-left: 0;
		list-style: none;
		@include touch {
			top: 100%;
		}
	}
	.parsley-custom-error-message {
		font-size: 0.7rem;
	}

	&.bottom {
		.input {
			border-color: #dbdbdb;
			box-shadow: inset 0 1px 2px rgba(46, 47, 53, 0.1);
		}
	}
}
