// Colors

$black:        #2e2f35;
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);

$grey-darker:  #626567;
$grey-dark:    hsl(0, 0%, 29%);
$grey:         #2E2F35;
$grey-light:   #92A6A4;
$grey-glowing:   #f2f3f4;
$grey-lighter: hsl(0, 0%, 86%);
$grey-date: #C1C7CB;
$ligh-grey-background: #F7F8F8;
$light-teal-background: #e5faf8;
$not-found-background: #e5faf8;
$not-found-button: #009aff;
$not-found-button-hover: #010cff;

$success: #20c76e;

$color_border : transparent;
$error: #5860d6;







$dark-brown: #373737;

$white-ter:    hsl(0, 0%, 94%);
$white-bis:    #f8f9f9;
$white-drk:    #eeeeef;
$white:        #ffffff;

$orange:       #fc9d21;
$yellow:       #ffc300;
$green:        #ade20c;
$turquoise:    #00d0be;
$blue:         #0099ff;
$purple:       #5862d6;
$dark_purple:  #131430;
$red:          #ff2e52;
$cyan:         #6bdbcd;
$pos-color: #2DC671;
$new-gray: #f6f7fa;
$new-link: #5860d6;
$disabled-package: #b0b0b0;

$purple-dark: 	#34397F;
$red-dark: 		#d82644;
$green-dark: 	#00685f;
$exclusive-dark: #008579;

$primary-background: #e4faf8;
$yellow-background: #fffbf0;
$purple-background: #eeeffb;
$greenish-background: #eaf9f0;
$turquoise-background: $turquoise;
$new-purple-background: $purple;

$primary: $turquoise;
$excluasive: $turquoise;
$text: $grey-darker;


$color_links: #2DC671;
// Typography



$family-sans-serif: 'Nunito Sans', sans-serif;
$family-monospace: monospace;
$render-mode: optimizeLegibility;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;

// Body

$body-background: #ffffff;
$body-size: 16px;

// Responsiveness

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 40px
$desktop: 1000px;
// 1152px container + 40
$widescreen: 1192px;
// 1344px container + 40
$fullhd: 1220px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16


$container_width: 66.4989378333em;
// Miscellaneous

$easing: ease-out;
$radius-small: 0px;
$radius: 2px;
$radius-large: 5px;
$radius-full: 100%;
$speed: 86ms;

$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;

$navbar-height: 4.2rem;
$navbar-background-color: transparent;
$navbar-item-color: $black;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-arrow: $navbar-item-color;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: transparent;

$footer-background-color: $white;

$table-row-hover-background-color: transparent;
$table-head-cell-border-width: 0 0 1px;

$modal-z: 90;
$modal-close-top: 80px;
$modal-close-right: 80px;
