/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/
//Change your overall colors and fonts and stuff here
//Don't forget to also check out theme.config.json and functions.php for a few more overall settings

@forward "resources";
@use "resources" as *; //sass vars and mixins and functions

//do not create sass variables in here. create them in resources.scss

/*--------------------------------------------------------------
# CSS Variables. Change these to match your theme
--------------------------------------------------------------*/
:root {
  //Fonts. change to the fonts you want. Defaults to OS Fonts. Load google fonts via theme.config.json
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-alt: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; //for headings etc..
  --line-height: 1.5;
  --font-pre: 'Source Code Pro', monospace;
  --line-height-pre: 22px;
  --article-font-size: 1.7rem; //slightly larger text for articles and actual content


  //Colors. Add colors here
  --black: #191919;
  --dark-grey: #4c545d;
  --grey: #cacaca;
  --blue: #007eac;
  --light-blue: rgba(0, 185, 235, 0.73);
  --dark-blue: #007fb0;


  --columnGap: 0rem;
  //Applied Colors. Add your own applied areas
  --body-bg: white; //found in page.scss
  --main-text-color: var(--black); //used in various files
  --subtle-text-color: var(--grey); //used in forms.scss and page.scss
  --site-top: var(--dark-blue);
  --footer-bg: var(--dark-grey); //found in page.scss
  --header-bg: var(--dark-grey); //found in page.scss

  //links and form buttons. used in typography.scss and forms.scss
  --highlight: var(--blue);
  --highlight-alpha: var(--light-blue);
  --highlight-darkened: var(--dark-blue);

  --overlay-color: rgba(0, 0, 0,0.65);

}

/*--------------------------------------------------------------
# Layout CSS Variables. Probably don't need to touch.
--------------------------------------------------------------*/
:root {

  /*------- Menu Variables --------*/
  --nav-move: #{$media-nav}; //should match $media-nav. when main menu in site-top should move into panel left. Used by data-moveat event
  --sidebar-move: 1000px; //when it moves to the panel right
  --media-sidebar: #{$media-sidebar}; //when it is no longer flexed
  --desktop-menu-alignment: center; //can be flex-end or flex-start or center for top level menu-items positioning on desktop

  /*------- Layout --------*/
  --container: 1200px; //holds site in a centered container of this size
  --container-content: 70rem; //holds article text for nice reading
  --container-padding: 30px; //used on left and right side of containers

  --gutters: 15px; //common padding size, used on flexbox and modules
  --gap: 8px; //common gap size used for margins and grids
  --grid-gap: 30px; //same as gap but can be changes in instances where the grid needs a smaller gap. used with .grid or .flex-grid
  --flex-gap: calc(var(--grid-gap) / 2);
 
 
  --columnGap: 0rem;
  /*------- Panels --------*/
  --panel-left-width: 300px; //width of panel-left when open
  --panel-right-width: 350px; //width of panel-right when open

  /*------- Z-index --------*/
  //these probably should not be changed.
  --z-index-top: 99;
  --z-index-overlay: 95;
  --z-index-menu-button: 90;
  --z-index-menu: 80;
  --z-index-header: 75;
  --z-index-behind: -1;
}

