//by bundling all the files in scss as opposed to in index.js we can use @extend and @use properly.
@use "resources" as *;
@use "variables" as *;
@use 'core/base' as *;


@use 'wordpress/wordpress';

@import 'settings';
@import 'bulma';

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';
//@import "utils/font-face";
//@import "settings/settings";
//@use 'global/global';
@import "woocommerce/*.scss";

@import 'components/body';
body.shore_commerce{
	@import 'components/buttons';
	@import 'components/footer';
	@import 'components/navbar';
	@import 'components/header';
	//@import 'components/hero';
	@import 'components/card';

	@import 'components/sections';
	@import 'components/headlines';
	
	@import 'components/cart';
}
	@import 'components/product';

@import 'components/content';


//@import 'utils/utils';




#content table.cart td.actions {
    border-top: 1em solid whitesmoke;
    background-color: rgba(0,0,0,0);
    padding: 0;
}
hr, p {
    margin: 0;
    text-align: left;
}
@media (min-width: 768px){
	.col-full {
		max-width: 1024px;
		width: 66vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0 ;
		box-sizing: content-box;
	}
}


@media (max-width:768px) {
	.col-full {
		max-width: 100vw;
		margin-left: 2.617924em;
		margin-right: 2.617924em;
		padding: 0
	}
}
button.navbar-burger.menu-toggle:focus {
    outline: none;
}
:focus {
    outline: none;
}
@media (max-width:568px) {
	.col-full {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 100%;
	}
	.site-header-cart{
		display: none;
	}
	body.shore_commerce nav#site-navigation {
		width: 100%;
		max-width: 100%;
		float: left;
		padding-right: 0;
		padding: 0;
		height: auto;
		max-height: 70px;
		margin-top: 5px;
	}
	body.shore_commerce .navbar .navbar-brand {
		height: 3.25rem;
		padding-left: 20px;
		width: auto;
		display: block;
		position: relative;
		float: left;
	}
	body.shore_commerce .navbar.toggled body.shore_commerce .navbar .navbar-menu .navbar-end {

	}
}
.site-header-cart .cart-contents .amount {
    margin-right: .327em;
    font-size: 0.8rem;
}
.bg {
	width: 540px;
	height: 260px;
	margin: 0 auto;
	padding: 0 0 0 50px;
	border-radius: 6px;
	background-color: #5860d6;
	padding: 0px;
    border-radius: 6px;
    box-shadow: 0 20px 50px 0 rgba(34, 34, 34, 0.2);
  }

.col-full:after,
.col-full:before {
	content: "";
	display: table
}

.col-full:after {
	content: " ";
	display: block;
	clear: both
}

.site-content:after,
.site-content:before {
	content: "";
	display: table
}

.site-content:after {
	clear: both
}

.content-area {
	width: 73.9130434783%;
	width: 100%;
	float: left;
	margin-right: 4.347826087%
}
figure.wp-block-image.alignwide.size-large.is-style-default {
    width: 100%;
    display: inline;
}
@media (min-width: 768px){
	.hentry .entry-content .wp-block-cover .wp-block-cover__inner-container{
	width: 100%;
    max-width: 100%;
	padding: 6.8535260698em 2rem;
    padding-top: .8535260698em;
    padding-bottom: .8535260698em;
}


}


@media (min-width: 768px){
	.storefront-product-pagination a {
		position: fixed;
		top: 50%;
		width: 500px;
		box-shadow: 0 0 5px rgba(0,0,0,.2);
		z-index: 1499;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		box-shadow: 3px -12px 50px 0 rgba(34, 34, 34, 0.2) !important;
		padding: 40px 20px;
	}


	.storefront-product-pagination a {
		color: #2e2f35;
		background-color: #fff !important;
	}
.tile.is-parent {
    padding: .75rem 0;
}
.storefront-product-pagination a[rel=next] {
	right: -255px ;
	-webkit-transition: right .3s ease-in;
	transition: right .3s ease-in;
	padding-right: 1em;
	height: 50vh;
}


.storefront-product-pagination a[rel=prev] {
	left: -355px ;
	-webkit-transition: left .3s ease-out;
	transition: left .3s ease-out;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	flex-direction: row-reverse;
	padding-left: 1em;
	height: 50vh;
}


}
.site-main {	
	padding:  0px;
    margin-bottom: 2.617924em;
    margin-top: 2.617924em;
}



.sidebar ul{
	list-style: none;
}
ul.tabs.wc-tabs {
    display: none;
}


@import "../parts/**/_?*.scss"; //glob does not support @use
@import "../blocks/**/_?*.scss"; //glob does not support @use
@import "../../inc/**/_?*.scss"; //glob does not support @use