/*--------------------------------------------------------------
# SASS Variables and Mixins. Do not output any css in here. if you need these make sure to @use "variables"
--------------------------------------------------------------*/
//css vars cannot be used in media queries. Sass is still used for media query variables
//Add your own query variables below
/* @import 'bulma'; */

/*------- Media Query Sizes. Add your own --------*/
$media-nav: 800px; //when navigations should go mobile. Should prob match --nav-move found in variables.scss
$media-sidebar: 1000px; //when .secondary would go mobile if you are using it.
$media-small: 576px;
$media-medium: 768px;
$media-large: 1030px;
$media-container: 1200px; //should match the container css variable


$gap: 30px; //still used in some queries and instances
$collapse-on-small: true; //collapse grid and flex-grid and flex on small devices automatically. small-span can override

/*------- Panel Becomes Absolute Query  --------*/
$panel-left-absolute: 500px; //when panel-left should become absolute instead of pushing main content over
$panel-right-absolute: 1030px;


/*------- Add your own breakpoints to the grid --------*/
//When using the grid you have the ability to makes spans at that breakpoint.
//ie: medium-span-4 will span 4 at the $media-medium size
//add your own to the list below to have your own span classes available!
//you will need a name to use in the class and you need to create a media variable set to a pixel size
$media-list: ('container': $media-container, 'medium': $media-medium, 'small': $media-small, 'large': $media-large);


// Colors

//black:        hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;

$grey-darker:  hsl(0, 0%, 21%) !default;
$grey-dark:    hsl(0, 0%, 29%) !default;
$grey:         hsl(0, 0%, 48%) !default;
$grey-light:   hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;

$orange:       hsl(14,  100%, 53%) !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        hsl(141, 71%,  48%) !default;
$turquoise:    hsl(171, 100%, 41%) !default;
$blue:         hsl(217, 71%,  53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          hsl(348, 100%, 61%) !default;

// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// Responsiveness

// The container gap, which acts as the offset for breakpoints
$gap: 8px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 3rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 3rem
$widescreen: 1152px + (2 * $gap)  !default;
// 1344px container + 3rem
$fullhd: 1344px + (2 * $gap)  !default;

// Miscellaneous

$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 3px !default;
$radius-large: 5px !default;
$speed: 86ms !default;

// Colors

$black:        #2e2f35;
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);

$grey-darker:  #626567;
$grey-dark:    hsl(0, 0%, 29%);
$grey:         #2E2F35;
$grey-light:   #92A6A4;
$grey-glowing:   #f2f3f4;
$grey-lighter: hsl(0, 0%, 86%);
$grey-date: #C1C7CB;
$ligh-grey-background: #F7F8F8;
$light-teal-background: #e5faf8;
$not-found-background: #e5faf8;
$not-found-button: #009aff;
$not-found-button-hover: #010cff;

$success: #20c76e;

$dark-brown: #373737;

$white-ter:    hsl(0, 0%, 94%);
$white-bis:    #f8f9f9;
$white-drk:    #eeeeef;
$white:        #ffffff;

$orange:       #fc9d21;
$yellow:       #ffc300;
$green:        #ade20c;
$turquoise:    #00d0be;
$blue:         #0099ff;
$purple:       #5862d6;
$dark_purple:  #131430;
$red:          #ff2e52;
$cyan:         #6bdbcd;
$pos-color: #2DC671;
$new-gray: #f6f7fa;
$new-link: #5860d6;
$disabled-package: #b0b0b0;

$purple-dark: 	#34397F;
$red-dark: 		#d82644;
$green-dark: 	#00685f;
$exclusive-dark: #008579;

$primary-background: #e4faf8;
$yellow-background: #fffbf0;
$purple-background: #eeeffb;
$greenish-background: #eaf9f0;
$turquoise-background: $turquoise;
$new-purple-background: $purple;

$primary: $turquoise;
$excluasive: $turquoise;
$text: $grey-darker;

// Typography

$family-sans-serif: 'Nunito Sans', sans-serif;
$family-monospace: monospace;
$render-mode: optimizeLegibility;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;


$color_links: $purple-dark;


// Body
$color_body: $dark_purple;
$color_woocommerce: $dark_purple;
$body-background: $white-bis;
$body-size: 16px;

// Responsiveness

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 40px
$desktop: 1000px;
// 1152px container + 40
$widescreen: 1192px;
// 1344px container + 40
$fullhd: 1220px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16


$container_width: 66.4989378333em;
// Miscellaneous

$easing: ease-out;
$radius-small: 0px;
$radius: 2px;
$radius-large: 5px;
$radius-full: 100%;
$speed: 86ms;

$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;

$navbar-height: 4.2rem;
$navbar-background-color: transparent;
$navbar-item-color: $black;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-arrow: $navbar-item-color;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: transparent;

$footer-background-color: $white;

$table-row-hover-background-color: transparent;
$table-head-cell-border-width: 0 0 1px;

$modal-z: 90;
$modal-close-top: 80px;
$modal-close-right: 80px;

/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/

/*------- Retina --------*/
@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    @content;
  }
}


// Replace letters
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// Encode symbols
@function url-encode($string) {
  $map: (
          "%": "%25",
          "<": "%3C",
          ">": "%3E",
          " ": "%20",
          "!": "%21",
          "*": "%2A",
          "'": "%27",
          '"': "%22",
          "(": "%28",
          ")": "%29",
          ";": "%3B",
          ":": "%3A",
          "@": "%40",
          "&": "%26",
          "=": "%3D",
          "+": "%2B",
          "$": "%24",
          ",": "%2C",
          "/": "%2F",
          "?": "%3F",
          "#": "%23",
          "[": "%5B",
          "]": "%5D"
  );

  $new: $string;

  @each $search, $replace in $map {
    $new: str-replace($new, $search, $replace);
  }

  @return $new;
}

// Format the SVG as a URL
@function inline-svg($string) {
  @return url('data:image/svg+xml,#{url-encode($string)}');
}



/*------- Deep Shadow Mixin --------*/
/// @param {Color} $color - color to tint
/// @param {Size} $number - how many times to do the shadow
@mixin deep-shadow($color, $size) {
  //add layers of text shadow to $text-shadow
  $text-shadow: '1px 1px #{$color}';
  $comma: ',';

  @for $i from 2 through $size {
    $text-shadow: #{$text-shadow} #{$comma} #{$i}px #{$i}px 0 $color;
  }

  text-shadow: $text-shadow;
}

/*------- Lighten and shade colors --------*/
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/*------- Fluid Font Lock --------*/
// Fluid Font (CSS Lock) from https://github.com/alexerlandsson/scss-font-lock
@function sfl-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin scss-font-lock($min-size, $max-size, $min-width: 400px, $max-width: 1000px, $base-font-size: 16px) {
  $error: false;

  /* Add variables to a map */
  $var-list: (min-size: $min-size, max-size: $max-size, min-width: $min-width, max-width: $max-width);

  /* Control unit of passed variables */
  @each $key, $val in $var-list {
    @if (unit($val) != px) and (unit($val) != em) {
      @warn "`#{$key}` needs to be set in px or em.";
      $error: true;
    } @else if (unit($val) == em) {
      /* Set max-size in px if set in em */
      $val: (sfl-strip-unit($val) * $base-font-size);
      $var-list: map-merge($var-list, ($key: $val));
    }
  }

  /* Set the new values to the variables */
  $min-size: map-get($var-list, min-size);
  $max-size: map-get($var-list, max-size);
  $min-width: map-get($var-list, min-width);
  $max-width: map-get($var-list, max-width);

  @if ($error == false) {
    font-size: $min-size;
    @media (min-width: $min-width) and (max-width: $max-width) {
      $size-increase: (sfl-strip-unit($max-size) - sfl-strip-unit($min-size));
      font-size: calc(#{$min-size} + #{$size-increase} * (100vw - #{$min-width}) / (#{sfl-strip-unit($max-width)} - #{sfl-strip-unit($min-width)}));
    }
    @media (min-width: ($max-width + 1px)) {
      font-size: $max-size;
    }
  } @else {
    @warn "There is an error in `@include scss-font-lock();`";
    /* Print error message on page */
    &:before {
      content: "There is an error in @include scss-font-lock();";
      position: absolute;
      padding: 10px 15px;
      white-space: nowrap;
      background-color: red;
      border-radius: 10px;
      color: white;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

}

/*------- Sort Map by values --------*/
@function map-sort-by-values($map, $reverse: false) {
  // Transform map to zipped list
  $keys: ();
  $values: ();

  @each $key, $val in $map {
    $keys: append($keys, $key);
    $values: append($values, $val);
  }

  $list: zip($keys, $values); //will become one list 'container', $media-container...

  $sortedMap: ();
  @while length($list) > 0 {

    // Find largest pair. compare all pairs and save the smallest one each time. (or largest if wanted...)
    //then we save that pair to a new map and remove it from old list. go over list again and again...
    $smallestPair: nth($list, 1);
    @each $pair in $list {
      $value: nth($pair, 2); //for each pair get the value
      $smallestValue: nth($smallestPair, 2); //last small pair saved

      @if $reverse{
        @if $value > $smallestValue { //change to largest or smallest > <
          $smallestPair: $pair; //set current pair as smallest
        }
      }
      @else{
        @if $value < $smallestValue { //change to largest or smallest > <
          $smallestPair: $pair; //set current pair as smallest
        }
      }

    }

    // Add smallest pair to sorted map
    $key: nth($smallestPair, 1);
    $value: nth($smallestPair, 2);
    $sortedMap: map-merge($sortedMap, ($key: $value));

    // Remove from list smallest pair
    $smallestPairIndex: index($list, $smallestPair);
    $newList: ();
    @for $i from 1 through length($list) {
      @if $i != $smallestPairIndex {
        $newList: append($newList, nth($list, $i), "space");
      }
    }
    $list: $newList;
  }

  @return $sortedMap;
}


/*------- Grid --------*/
//perfect grid of responsive items
@mixin card-grid($auto-type: auto-fit, $min: 350px, $grid-gap: 30px, $max: 1fr) {
  display: grid;
  --card-min: 250px;
  --card-max: #{$max};
  --card-type: #{$auto-type};
  grid-template-columns: repeat(var(--card-type), minmax( min( var(--card-min), 100%), var(--card-max)));
  grid-gap: var(--grid-gap);

  justify-content: center;

  //fallback for ie11
  @media all and (-ms-high-contrast: none) {
    display: flex;
    flex-wrap: wrap;
    & > * {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      min-width: calc(#{$min - $grid-gap});
      margin: $grid-gap / 2;
      margin-top: 0;
      margin-bottom: $grid-gap;
    }

    &.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }

    &.no-gutters > * {
      margin: 0;
    }

    .conainer &, .container-fluid &, .container-content & {
      margin-left: calc(-1 * var(--gap));
      margin-right: calc(-1 * var(--gap));

      &.no-gutters {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}


@mixin flex-card-grid($min: 350px, $grow: 1, $shrink: 1, $grid-gap: 30px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  $grid-gutter: $grid-gap/2;
  margin-left: -#{$grid-gutter};
  margin-right: -#{$grid-gutter};

  > * {
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: calc(#{$min - $grid-gap}); //using calc we can even allow % based widths
    margin: 0 $grid-gutter $grid-gap $grid-gutter;
  }

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;
  }

  &.no-gutters > * {
    margin: 0;
  }

  @media screen and (-ms-high-contrast:active), (-ms-high-contrast: none) {
    > * {
      flex-basis: auto;
      min-width: calc(#{$min - $grid-gap}); //using calc we can even allow % based widths
    }
  }
}
