.acf-row:nth-child(even) .remove,
.acf-row:nth-child(even) .acf-fields > .acf-field:first-child,
.acf-row:nth-child(even) .order {
  cursor: move;
  color: #aaa;
  text-shadow: #fff 0 1px 0;
  border: none;
  
}

.acf-row:nth-child(odd) .acf-fields >.acf-field:first-child,
.acf-row:nth-child(2n+1) .remove,
.acf-row:nth-child(2n+1) .order {
  background: silver;
  color: white;
}