.btn-primary {
  color: #348438CC;
  background-color: white;
  border-color: rgb(108, 130, 76);
}

.btn-primary:hover {
  color: #000;
  background-color: #78C97DCC;
  border-color: #78C97DCC;
}

button:hover {
  opacity: 0.9;
}

button {
  padding: 0.6rem 25px;
  outline: none;
  border: 1px solid $light_green;
  border-radius: 3px;
  background: none;
  color: $light_green;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

.copy_able {
  -webkit-user-select: all;
  /* Chrome 49+ */
  -moz-user-select: all;
  /* Firefox 43+ */
  -ms-user-select: all;
  /* No support yet */
  user-select: all;
  /* Likely future */
}

/* .next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100%;
  max-height: 100vh;
  mix-blend-mode: soft-light;
} */
