$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$brand-primary: #0275d8 !default;
$brand-success: #63a467 !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
/*Filter styles*/

$link_color: #CCCCCC;
.saturate {
    -webkit-filter: saturate(3);
    filter: saturate(3);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contrast {
    -webkit-filter: contrast(160%);
    filter: contrast(160%);
}

.brightness {
    -webkit-filter: brightness(0.25);
    filter: brightness(0.25);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.huerotate {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.rss.opacity {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.main_gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,677252+73,6a705f+100,ffffff+100&1+0,0+50,0.26+74,0+100 */
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(103, 114, 82, 0.25) 73%, rgba(109, 119, 88, 0.26) 74%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(103, 114, 82, 0.25) 73%, rgba(109, 119, 88, 0.26) 74%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(103, 114, 82, 0.25) 73%, rgba(109, 119, 88, 0.26) 74%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.light_scheme {
    color: #2f2f2f;
    background: rgba(250, 250, 250, 0.8);
    background: rgba(250, 250, 250, 1); // border: 1px #fafafa solid;
}

.dark_scheme {
    background:black;
    color: white;
}

.none_scheme {
   background: #1D1D1D;
   color: white;
    p{
        color: white;
    }
}

.col_color {
    top: -100px;
    padding-top: 0;
    background: white;
}

a,
a:hover,
a:visited {
    color:#63a467;
}



