.profile_wrapper {
  padding-bottom: 10vh;
}

%card_before_overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; // border-radius: 15px;
  background: #1d1d1d80;
  z-index: 5;
  transition: all 1s ease;
}

figure {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s ease-out;
  //background: $darkest;
  overflow: hidden;

  img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    opacity: 1;

    &.hover_image {
      opacity: 0;
      margin-right: 0-100%;
      position: absolute;
      top: 0;
      left: 0;
      with: 100;
      transition: all 3s cubic-bezier(0,0,.2,1);
      display: block;
      min-height: 100%;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 5px;
    }
  }
&.card_image {
  opacity: 0;
  margin-right: -100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 3s cubic-bezier(0,0,.2,1);
  display: block;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  &:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    z-index: 2;
    transition: all 5s ease;
    background: radial-gradient( #213022c4, #0000007a);
    right: 0;
    opacity: 0;
    /* content: url(https://morphium-film.de/wp-content/uploads/2018/07/andre-240x300.png); */
    filter: blur(5px);
    content: attr(src);
  }

  figcaption {
    position: absolute;
    z-index: 10;
    float: left;
    height: 100%;
    width: 100%;
    bottom: 0;
    opacity: 1;
    top: 100%;
    @include whobble_transition(.9s);

    .info {
      color: white;
      float: left;
      width: 100%;
      position: relative;
      bottom: 50px;
      padding: 5px 10px;
      @include whobble_transition(.3s);

      h3 {
        opacity: 1;
        padding: 5px;
        float: left;
        color: $text_light;
        border-bottom: 1px solid $light_green; //
        @include whobble_transition(.9s);
      }

      span,
      p {
        // height: 0;
        float: left; // width: 0;
        opacity: 0;
        margin: 0;
        margin-top: 8px !important;
        padding: 0;
        font-size: 1rem;
        text-align: left;
        line-height: normal;
        letter-spacing: normal;
     //   @include whobble_transition(.9s);
        &.description {
          line-height: 18px;
         // text-align: justify;
          padding: 5px 20px;
        }
      }
    }

    button {
      margin-top: 40px;
      transition: 0.4s ease;
      opacity: 0;
      position: absolute;
      bottom: 0;
      right: -200px;
    }
  }

  &:hover {
    &:before {
      opacity: 0.7;

    }

    img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      transition: all 1s ease;
    }

    img.hover_image {
      opacity: 1;
      margin-right: 0%;
      transition: all 1s ease;
    }

    figcaption {
      height: 100%;
      padding: 10px;
      top: auto;

      button {
        opacity: 1;
        margin-top: -10px;
        position: absolute;
        bottom: 10px;
        right: 10px;

        a {
          color: #63a467;
        }
      }
    }
  }
}

.inner_tile {
  width: 100%;
  position: relative;
  font-size: 14px;
  text-align: left;
  padding: 20px 20px;
  margin: 0;
  right: 0;
  transition: all 0.9s cubic-bezier(0.68, 0.55, 0.27, 1.55);
}

.project_card {
  border-radius: 0px;
  margin: 0px;

  img {
    border-radius: 0px;
  }

  figcaption {
    transition: all 0.9s ease;

    .info {
      background: #1d1d1de6;
      color: #f0f8ffe6;
      bottom: 50px;
      z-index: 14;
      display: block;
      height: 70px;
      overflow: hidden;
      position: relative;
      top: -70px;
      padding: 10px 0px;
      transition: opacity 0.9s ease;
      border-bottom: 1px solid #63a467;
      h3 {
        color: white;
        transition: all 0.1s ease;
        text-overflow: clip;
        width: 100%;
        font-weight: 100;
        border:none;
        padding: 10px 20px;
      }
      &.description {
        line-height: 18px;
       // text-align: justify;
        padding: 0px 20px;
      }
      p {
        color: $text_light;
        transition: all 0.1s ease;
        text-overflow: clip;
        overflow: hidden;
        width: 100%;
        text-align: left;
        padding: 0 20px;
        transition: opacity 0.9s cubic-bezier(0.68, 0.55, 0.27, 1.55);
      }
    }
  }

  &:hover {
    transform: scale(0.98);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    figcaption {
      bottom: 0;
      top: 0;

      .info {
        bottom: 0px;
        top: 0;
        height: 100%;
        border-radius: 5px;
        border-bottom: 0px solid #63a467;
        h3{
          border-bottom: 1px solid #63a467;
        }
        .client {
          font-weight: bold;
          padding: 0 20px;
          margin: 5px 0 !important;
        }

        p {
          width: 100%;
          opacity: 1;
          font-size: 12px;
          font-weight: 200;
          max-height: 80%;
          display: block;
          //padding: 20px;
          text-overflow: clip;
        }
      }
    }
  }
}

figure.profile_card {
  overflow: hidden;
  border-radius: 0;
  transition: all 4.2s ease-in-out;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 3em 1em;
  background: none;
  position: absolute;
  img{
    display: inline-block;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
.front_image{
  opacity: 1;
  transition: all 4s cubic-bezier(.55,.06,.68,.19);
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  /* left: 10px; */
  /* right: 10px; */
  display: inline-block;
  bottom: 0;
}
}
  figcaption {
    transition: all 4.8s cubic-bezier(0.47, 0, 0.75, 0.72);
    height: auto;
    top: 10px;
    overflow: visible;
    .Jhr {
      height: 0;
      float: right;
      text-align: right;
    }

    h3 {
      color: white;
      transition: all 0.1s ease;
      overflow: hidden;
      width: 100%;
      position: relative;
      font-size: 16px;
    }

    .info {
      top: 0px;
      height: 100%;
      transition: all .8s ease-in-out;

      p,
      h4,
      h3 {
        font-weight: 100;
        float: left;
      }

      .fav_movie {
        font-size: 12px;
        position: absolute;
        bottom: 20px;
        left: 0;
        transition: all .8s ease-in-out;

        b {
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #63A467;
          font-weight: 300;
        }
      }

      h4 {
        font-size: 14px;
        padding: 0 5px;
        text-align: left;
        position: absolute;
        position: absolute;
        bottom: 10px;
        color: white;
        transition: all .8s ease-in-out;
      }
    }
  }


  :hover {
    //transform: scale(0.96);

    transition: all 4s cubic-bezier(0.55, 0.09, 0.68, 0.53);

    figcaption {
      top: 0px;
      //  transform: scale(1.16);
      height: 100%;
      transition: all 0.8s ease-in-out;

      .info {
        top: 0px;
       // background: #1d1d1d80;
        height: 100%;

        h3 {
          padding: 5px;
          color: white;
          border-bottom: 1px solid #63a467;
        }
        big {
          font-size: 1.5em;
          width: 100%;
          float: left;
          font-weight: 600;
          color: white;
      }
        h4 {
          padding: 5px;
          text-align: left;
          color: white;
          position: relative;
          bottom: 0;
        }

        .fav_movie,
        span,
        p {
          opacity: 1;
          margin: 0;
          padding: 15px 10px 10px;
          height: auto;
          width: 100%;
          float: left;
          font-size: 13px;
          letter-spacing: normal;

          a {
            float: right;
            position: absolute;
            right: 10px;
            margin-top: -30px;
            height: 30px;
          }
        }
      }
    }
  
}

figure.kunde {
  width: 150px; // height: 150px;
  background: white;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  text-align: center;
  margin: 0 auto;
  border-radius: 0px;
  padding: 20px;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &::before {
    opacity: 0;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    z-index: 2;
    transition: all 5s ease;
    background: url(https://morphium-film.de/wp-content/uploads/2018/07/andre-240x300.png);
    right: 0;
  }

  img.kunden_logo {
    // filter: grayscale(100%);
    width: 100%;
    height: 100%;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    object-fit: contain;
  }

  &:hover {

    transform: scale(1.3);
    z-index: 1000;
    & ::before {
      opacity: 0;
    }

    img.kunden_logo {
      // -webkit-filter: grayscale(0%);
      // filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
}
