#footer {
  float: left;
  width: 100%;
  padding: 150px;
 //background-color: rgb(49, 49, 49);
  border-top: 2px solid #313131;
  background: white;
  position: relative;
  z-index: 200;
  .row {

    padding: 0px 0 100px;

}
  .divider {
    border-top: 1px solid silver;
    margin-top: 40px;
  }
  li,
  a,
  p {
    opacity: 1;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 1px;
    color: #313131;


   // mix-blend-mode: multiply;
  }
  .copyright.credits {
    text-align: right;
    mix-blend-mode: inherit !important;
}
  h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #44cd73;
  }
}

.singular #footer {
    background: #181818 !important;
  li,
  a,
  p {
    opacity: 1;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;


   // mix-blend-mode: multiply;
  }
}

