#loadvideos {
  //background: rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  height: 100%;
  position: relative;
}

.grid_container {
  position: relative;
  width: 100%;
  min-height: 70vh;
  #loadvideos {
    opacity: 0;

    height: 0;
    min-height: 70vh !important;
    .project_card {
      opacity: 0;
      transition: 2s all ease-in;
      max-height: 25vh;
      min-height: 190px;

      img {
        transition: 2s all ease-in;
        transition-delay: 2s;
        height: 0;
      }
    }
  }
  opacity: 0;
  .grid_controller {
    overflow: hidden;
    height: 0;
    transition: 2s height ease-in;
  }
  &.loaded {
    opacity: 1;
    .grid_controller {
      //  overflow: visible;
      height: 100%;
      transition-delay: 2s;
      transition: 2s height ease-in;
    }
    #loadvideos {
      transition: 2s height ease-in;
      height: 100%;
      opacity: 1;
      .project_card {
        opacity: 1;
        transition: 2s all ease-in;
        img {
          transition-delay: 2s;
          transition: 2s all ease-in;
          height: 100%;
        }
      }
    }
  }

  .row {
    margin: 0;
    height: 100%;
    position: relative;
    float: right;
    width: calc(100% - 150px);
  }

  .col {
    padding: 10px;
    height: 32%;
  }
  div#page_counter {
    position: relative;
    float: right;
    margin: -20px 10px;
    font-weight: 800;
    font-size: 14px;
  }

  a#prev_projectpage,
  a#next_projectpage {
    width: 50px;
    position: absolute;
    top: 50%;
    right: -50px;
    //   transform: translateY(-50%);
    i {
      font-size: 4rem;
      margin: 0;
    }
  }

  a.next {
    right: -50px;
  }

  a.prev {
    right: -50px;
    margin-top: -50px;
    left: auto;
  }

  .icon-wrap {
    background: none;

    svg.icon {
      fill: #63a467;
    }
  }
}

.grid_controller {
  height: 100%;
  float: left;
  padding: 40px 0;
  width: 150px;
  position: absolute;
  margin-left: auto;
  left: 0px;
  .categories {
    text-align: left;
    padding: 0px;
    display: block;
    position: ABSOLUTE;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  .category {
    margin: 5px 0;
    width: 100%;
    text-transform: uppercase; // font-size: 1.01rem;
    cursor: pointer;
    padding-right: 5px;
    float: right;
    text-align: right;
    font-size: 1rem;
    margin-right: 0px;
    &.selected {
      font-weight: 900;
      text-decoration: underline;
      font-size: 1.4em;
      a {
        text-decoration: underline dashed 0px;
      }
    }
    a {
      color: #63a467;
      transition: all 1s ease;
      float: right;
    }

    &:hover a {
      color: silver;
    }

    small {
      font-size: 80%;
      left: 0;
      width: 26%;
      text-align: right;
      color: #2f2f2f;
      background: #2f2f2f;
      padding: 0 10px;
      display: none;
    }
  }
}
.grid_controller#video_post_filter {
  float: left;
  padding: 40px 0;
  width: 150px;
  position: absolute;
  margin-left: 0;
}

@media (min-width: 1590px) {
  .grid_controller {
    float: left;
    padding: 40px 0px;
    width: 150px;
    position: absolute;
    margin-top: 20px;
  }
}

.row_grid {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.projekt_filter {
  width: calc(50% - 20px);
  float: left;
  text-align: center;
  padding: 20px 10px; //border: 10px solid rgba(250, 250, 250, 0.3);
  margin: 10px 5px;
  border-radius: 5px;
  position: relative;
}

.col {
  display: inherit;
  padding: 0px;
  float: left;
}

.col.seven_flow {
  max-width: 14.285714285714286%;
  width: 14.285714285714286%;
}
@media (max-width: 575.98px) {
  .grid_controller .categories {
    text-align: left;
    padding: 0 10px;
    width: 100%;
    position: relative;
    display: inherit;
    height: 120px;
    align-items: normal !important;
    flex-direction: initial !important;
    display: block !important;
  }
  .grid_container .row {
    margin: 0;
    height: 100%;
    position: relative;
    float: right;
    widows: 100%;
  }
}

.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.make-me-sticky {
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 0 15px;
}

#video_grid {
  nav#grid_pagination {
    display: none;
    opacity: 0;
    transition: 2s opacity ease-in-out;
  }

  nav#grid_pagination {
    // position: fixed;
    display: block;
    z-index: 22222;
    bottom: 0;
    //left: 150px;
    right: 0 !important;
    height: 60px;
    width: 100%;
    text-align: center;
    //background: whitesmoke;
    padding: 10px 50px;
    // box-shadow: 0px 0px 16px #00000073;
    opacity: 1;
    transition: 2s opacity ease-in-out;
    float: left;
    div#page_counter {
      width: 100%;
      top: 30px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: black;
      opacity: 1;
    }

    span.dot {
      height: 10px;
      width: 10px;
      background: #888888;
      display: inline-block;
      padding: 0;
      border-radius: 10px;
      margin: 0 5px;
      &.current {
        background: #63a467;
      }
    }
    a#next_projectpage {
      top: auto !important;
      right: 0;
      bottom: 10px;
      transform: inherit !important;
      left: auto !important;
    }
    a#prev_projectpage {
      top: auto !important;
      left: 5%;
      bottom: 10px;
      transform: inherit !important;
      right: auto !important;
    }
  }
}
