iframe {
  //filter: grayscale(100%) contrast(25%) brightness(203%) opacity(95%) blur(10px);

  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.8s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

img {
  opacity: 0;
  object-fit: cover;
  width: auto;
  height: 100%;
  transition: opacity 0.3s;
  max-width: 100%;
 
}

img[src] {
  opacity: 1;
}

iframe{
  transition: opacity 0.3s;
}
video {
  margin: 15px auto !important;
  source {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

video source[src] {
  opacity: 1;
}

.video-js {
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  position: absolute;
  padding: 0;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-break: initial;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}

#external-frame {
  min-height: 800px;
}

/* Or whatever you’re guessing the height will be. */

.paus_play {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s all;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
 // background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
} */

.stopfade {
  opacity: .5;
}

.embed-responsive {

    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    max-height: 100%;

}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height : 100%;
  border: 0;
  min-height: 100%;
}


.embed-responsive-16by9::before {
//  padding-top: 56.25%;
}
