/*******************

Bootstrap Mod
*/

#prime_slider {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: 200;
  .carousel-inner {
    height: 100%;
    padding: 0;
    overflow: visible;
    .carousel-item {
      opacity: 1;
      top: 0;
      left: 0;
      border: none;
      width: 100%;
      height: 100%;
      display:block;
      transition: all 0.8s;
      max-height: 100vh;
      height: 100%;
      .jumper {
        position: absolute;
        cursor: pointer;
        z-index: 1004;
        right: 0; //margin: -20px -10px;
        bottom: 0px;
        color: #63a467;
        width: 200px;
        span {
          position: relative;
          color: white;
          z-index: 1000;
          font-size: 14px;
          -webkit-transform-origin: top right;
          transform-origin: center;
          width: 200px;
          right: 0;
          background: #63a467;
          padding: 10px 0;
          float: right;
        }
      }
      &.active {
        opacity: 1;
        top: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        .affenhänger {
          display: none;
          max-width: inherit;
        }
        iframe,
        video {
          -webkit-filter: none;
          filter: none;
          transition: all 0.8s;
          -webkit-transform: scale(1);
          transform: scale(1);
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: auto;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          border-radius: 0;
          margin: 0 !important;
        }
        .next_icon {
          display: none;
        }
        .jumper {
          display: none;
        }
        &:hover {
          opacity: 1;
          transform: none;
        }
      }
      &:not(.active) {
        opacity: 1;
        width: 50px;
        left: auto;
        right: 0; //  bottom: 25vh;
        height: 25%;
        z-index: 99999;
        transition: all 0.8s;
        position: fixed;
        .jumper {
          transition: all 1.1s;
        }
        &#next_controll {
         // border-top-left-radius: 60px;
          @include centerer( false, true);
          background: #070505;
        }
        &:not(#next_controll) {
          background: none;
          bottom: 5vh;
          height: 100vh;
        }
        .go_right_and_play {
          height: 50px;
          float: right;
          width: 50px;
          position: relative;
          .icon {
            fill: #63a467cc;
          }
        }
        .affenhänger.front_image {
         height: 100%;
         position: absolute;
         right: 10px;
         transition: all 1.8s;
         margin-top: -10px;
         max-width: inherit;
        }
        video,
        iframe {
          display: none;
          border-radius: 100%;
        }
        &:hover {
          opacity: 1;
          filter: none; // background: #31313100;
          .jumper {
            transform: scale(1.1);
            transition: all 1.8s;
          }
          .affenhänger {
            transform: scale(1.1);
            transition: all 2s;
          }
          transition: all 1.1s;
          iframe {
            filter: none;
            margin: 0;
          }
        }
      }
      /*
      &.unloaded {
        iframe {
          opacity: 0;
          transform: scale(0.1);
          -webkit-transition: -webkit-transform 1.8s cubic-bezier(0.645, 0.045, 0.355, 1), all 1.8s cubic-bezier(0.52, 0.01, 0.16, 1);
          transition: all 1.8s cubic-bezier(0.52, 0.01, 0.16, 1);
        }
      } */
    }
  }
}
