/* SVG wrap */

.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
 overflow: hidden;
}

svg {
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;
  z-index: 999999;
}

svg text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2vw;
}

svg rect {
  fill: white;
}

svg>rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
